Repository redhat-cop/agnosticd, pull requests merged in 2020-09, with the labels that each got.

#1001 loop.index0 changed to loop.index in cloud_template_master.j2 template
  ansible/configs/hacluster-pntae/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/multi-network-app-pntae/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/sap-hana/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/sap-integration/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/sap-rhvh/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/sap-smart/files/cloud_providers/osp_cloud_template_master.j2
  ansible/roles-infra/infra-osp-dns/tasks/instance_loop.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-osp-template-generate/templates/cloud_template_master.j2
Labels: help wanted

#2467 Change Tests and Doc, ensure no large files are pushed into Git
  .github/workflows/lfs.yml
  docs/Contributing.adoc
Labels: doc, test

#2470 Add cloud-credentials config
  ansible/configs/cloud-credentials/README.adoc
  ansible/configs/cloud-credentials/default_vars.yml
  ansible/configs/cloud-credentials/default_vars_ec2.yml
  ansible/configs/cloud-credentials/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/cloud-credentials/post_infra.yml
  ansible/configs/cloud-credentials/post_software.yml
  ansible/configs/cloud-credentials/pre_infra.yml
  ansible/configs/cloud-credentials/pre_software.yml
  ansible/configs/cloud-credentials/sample_vars_ec2.yml
  ansible/configs/cloud-credentials/software.yml
Labels: feature

#2471 Add role infra-osp-template-create stack retry
  ansible/roles-infra/infra-osp-template-create/.yamllint
  ansible/roles-infra/infra-osp-template-create/defaults/main.yml
  ansible/roles-infra/infra-osp-template-create/tasks/create_osp_template.yml
  ansible/roles-infra/infra-osp-template-create/tasks/get_stack_hot_outputs.yml
  ansible/roles-infra/infra-osp-template-create/tasks/main.yml
  ansible/roles-infra/infra-osp-template-create/vars/main.yml
Labels: feature

#2502 AWS CloudFormation: auto-select AvailabilityZone
  ansible/roles-infra/infra-ec2-template-generate/defaults/main.yml
  ansible/roles-infra/infra-ec2-template-generate/tasks/locate_availability_zones.yml
  ansible/roles-infra/infra-ec2-template-generate/tasks/main.yml
Labels: aws, enhancement, feature

#2559 Add doc for .yamllint
  docs/Contributing.adoc
Labels: doc
