Repository redhat-cop/agnosticd, pull requests merged in 2021-12, with the labels that each got.

#4276 Switch to use ec2 module to start/stop instances
  ansible/lifecycle_ec2.yml
Labels: core

#4267 Introducing dynamic images
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/configs/amq-messaging-foundations/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ansible-automation-platform/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ansible-multi-node/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ansible-multitier-rhel8/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ansible-platform-foundations/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ansible-tower/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/hacluster-breakfix1-pntae/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/hacluster-pntae/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/just-a-bunch-of-nodes/default_vars.yml
  ansible/configs/just-a-bunch-of-nodes/default_vars_ec2.yml
  ansible/configs/just-a-bunch-of-nodes/sample_vars.yml
  ansible/configs/multi-cloud-capsule/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/multi-network-app-pntae/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/multi-region-tower/files/cloud_providers/default.j2
  ansible/configs/multi-region-tower/files/cloud_providers/worker.j2
  ansible/configs/ocp-clientvm/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ocp4-ha-lab/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/ocp4-workshop/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/rhte-ans-tower/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/rosa/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/satellite-infrastructure/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/satellite-multi-region/files/cloud_providers/capsule.j2
  ansible/configs/satellite-multi-region/files/cloud_providers/default.j2
  ansible/configs/satellite-multi-region/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/satellite-multi-region/pre_infra.yml
  ansible/configs/satellite-vm/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/three-tier-app/files/cloud_providers/ec2_cloud_template.j2
  ansible/filter_plugins/core.py
  ansible/filter_plugins/tests/test_core.py
  ansible/roles-infra/infra-ec2-template-generate/templates/cloud_template.j2
  ansible/roles-infra/infra-images/defaults/main.yaml
  ansible/roles-infra/infra-images/readme.adoc
  ansible/roles-infra/infra-images/tasks/ec2.yaml
  ansible/roles-infra/infra-images/tasks/ec2_loop_image.yaml
  ansible/roles-infra/infra-images/tasks/main.yaml
  ansible/roles-infra/infra-images/tasks/notsupported.yaml
Labels: aws, core

#4304 incease pagination to 1000 (maximum)
  ansible/roles-infra/infra-equinix-metal-resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/lookup_project.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/stop_instances.yaml
Labels: core, equinix

#4306 Parameterize infra_generic_wait_for_linux_hosts
  ansible/cloud_providers/equinix_metal_infrastructure_deployment.yml
  ansible/roles-infra/infra-generic-wait_for_linux_hosts/defaults/main.yaml
  ansible/roles-infra/infra-generic-wait_for_linux_hosts/tasks/main.yml
Labels: core, equinix

#4307 Equinix: Harden deletion of resources
  ansible/roles-infra/infra-equinix-metal-resources/defaults/main.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/delete_instances.yaml
Labels: core, equinix

#4303 Equinix: Omit ipv6 when not present
  ansible/roles-infra/infra-equinix-metal-create-inventory/tasks/main.yaml
Labels: core, equinix
