Repository redhat-cop/agnosticd, pull requests merged in 2022-03, with the labels that each got.

#4473 Libraries to save/upload images and workflow example
  ansible/configs/osp-example-workflow-images/default_vars.yml
  ansible/configs/osp-example-workflow-images/destroy_env.yml
  ansible/configs/osp-example-workflow-images/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/osp-example-workflow-images/post_infra.yml
  ansible/configs/osp-example-workflow-images/post_software.yml
  ansible/configs/osp-example-workflow-images/pre_infra.yml
  ansible/configs/osp-example-workflow-images/pre_software.yml
  ansible/configs/osp-example-workflow-images/sample_variables/README.adoc
  ansible/configs/osp-example-workflow-images/sample_variables/secrets_example_osp.yml
  ansible/configs/osp-example-workflow-images/software.yml
  ansible/configs/osp-example-workflow-images/templates/httpd/web.conf
  ansible/configs/osp-example-workflow-images/test.yml
  ansible/configs/osp-example-workflow-images/test_output.yml
  ansible/roles-infra/infra-osp-download-images/.yamllint
  ansible/roles-infra/infra-osp-download-images/README.adoc
  ansible/roles-infra/infra-osp-download-images/defaults/main.yml
  ansible/roles-infra/infra-osp-download-images/tasks/main.yml
  ansible/roles-infra/infra-osp-download-images/vars/main.yml
  ansible/roles-infra/infra-osp-save-images/.yamllint
  ansible/roles-infra/infra-osp-save-images/README.adoc
  ansible/roles-infra/infra-osp-save-images/defaults/main.yml
  ansible/roles-infra/infra-osp-save-images/tasks/main.yml
  ansible/roles-infra/infra-osp-save-images/tasks/stop_vms.yml
  ansible/roles-infra/infra-osp-save-images/vars/main.yml
Labels: core, osp

#4478 Add user key in agnosticd_user_info result
  ansible/action_plugins/agnosticd_user_info.py
Labels: core

#4490 Disable rhacm subscription auto-approve
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Labels: bug

#4492 Update build scripts for EE and documentation
  docs/Preparing_your_workstation.adoc
  tools/execution_environments/ansible2.9-legacy-pyvenv/do-all.sh
  tools/execution_environments/ansible2.9-legacy-pyvenv/install_binaries.sh
  tools/execution_environments/ee-multicloud-public/build.sh
  tools/execution_environments/ee-multicloud-public/install_binaries.sh
  tools/execution_environments/ee-multicloud/build.sh
  tools/execution_environments/ee-multicloud/install_binaries.sh
  tools/execution_environments/readme.adoc
Labels: doc

#4532 Sometimes the DNS zones dont exist, just move on
  ansible/roles-infra/infra-azure-template-destroy/tasks/main.yml
Labels: core, azure

#4521 Update SSH key management and access
  .gitignore
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/cloud_providers/ec2_destroy_env.yml
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/cloud_providers/ec2_pre_checks.yml
  ansible/cloud_providers/equinix_metal_infrastructure_deployment.yml
  ansible/cloud_providers/gcp_infrastructure_deployment.yml
  ansible/cloud_providers/osp_infrastructure_deployment.yml
  ansible/configs/just-a-bunch-of-nodes/default_vars_ec2.yml
  ansible/configs/just-a-bunch-of-nodes/requirements.yml
  ansible/configs/just-a-bunch-of-nodes/sample_vars.yml
  ansible/configs/ocp4-cluster/default_vars.yml
  ansible/configs/ocp4-cluster/destroy_env_ec2.yml
  ansible/configs/ocp4-cluster/ec2_instances_start.yaml
  ansible/configs/ocp4-cluster/post_software.yml
  ansible/configs/ocp4-cluster/pre_infra.yml
  ansible/configs/ocp4-workshop/pre_infra.yml
  ansible/destroy.yml
  ansible/include_vars.yml
  ansible/install_galaxy_roles.yml
  ansible/roles-infra/create_ssh_provision_key/defaults/main.yaml
  ansible/roles-infra/create_ssh_provision_key/tasks/checks.yaml
  ansible/roles-infra/create_ssh_provision_key/tasks/main.yaml
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
  ansible/roles-infra/infra-ec2-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-ec2-ssh-key/defaults/main.yml
  ansible/roles-infra/infra-ec2-ssh-key/tasks/create.yaml
  ansible/roles-infra/infra-ec2-ssh-key/tasks/destroy.yaml
  ansible/roles-infra/infra-ec2-ssh-key/tasks/main.yml
  ansible/roles-infra/infra-ec2-template-generate/templates/cloud_template.j2
  ansible/roles-infra/infra-images/tasks/ec2.yaml
  ansible/roles-infra/infra-local-create-ssh_key/tasks/main.yml
  ansible/roles/agnosticd_save_output_dir/README.adoc
  ansible/roles/bastion-student-user/defaults/main.yml
  ansible/roles/bastion-student-user/tasks/main.yml
  ansible/roles/control-user/defaults/main.yml
  ansible/roles/control-user/tasks/ssh-config.yml
  ansible/roles/ocp4-workload-workshop-admin-storage/tasks/pre_workload.yml
  ansible/roles/ocp4-workload-workshop-admin-storage/tasks/workload.yml
  ansible/roles/set_env_authorized_key/defaults/main.yaml
  ansible/roles/set_env_authorized_key/tasks/main.yml
  ansible/roles/ssh_authorized_keys/defaults/main.yaml
  ansible/roles/ssh_authorized_keys/tasks/main.yaml
  ansible/save_output_dir.yml
  ansible/setup_runtime.yml
  docs/Creating_a_config.adoc
  docs/README.adoc
  docs/SSH_keys_and_access.adoc
  tools/execution_environments/ee-multicloud-public/bindep.txt
  tools/execution_environments/ee-multicloud-public/readme.adoc
  tools/execution_environments/ee-multicloud/bindep.txt
Labels: doc, aws, core, osp, equinix, azure, gcp

#4550 New role to detect env_authorized_key path
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/cloud_providers/osp_infrastructure_deployment.yml
  ansible/roles/bastion-student-user/defaults/main.yml
  ansible/roles/bastion-student-user/tasks/main.yml
  ansible/roles/bastion/tasks/prepuser.yml
  ansible/roles/control-user/defaults/main.yml
  ansible/roles/control-user/tasks/ssh-config.yml
  ansible/roles/locate_env_authorized_key/readme.adoc
  ansible/roles/locate_env_authorized_key/tasks/main.yaml
  ansible/roles/set_env_authorized_key/defaults/main.yaml
  ansible/roles/set_env_authorized_key/tasks/main.yml
Labels: aws, core, osp

#4551 infra-images: Update pattern not to pick BETA AMIs
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core
