Repository redhat-cop/agnosticd, pull requests merged in 2022-07, with the labels that each got.

#5102 ec2: Fix lifecycle when there are terminated vm
  ansible/lifecycle_ec2.yml
Labels: core

#5138 changing `os_server_info` to `openstack.cloud.server_info` and updating var names
  ansible/cloud_providers/osp_infrastructure_deployment.yml
  ansible/configs/multi-cloud-capsule/infra_configs/infra-osp-create-inventory.yml
  ansible/configs/multi-cloud-capsule/infra_configs/osp_infrastructure_deployment.yml
  ansible/configs/osp-migration/destroy_env.yml
  ansible/configs/osp-migration/infra.yml
  ansible/configs/osp-satellite-vm/destroy_env.yml
  ansible/configs/osp-satellite-vm/infra.yml
  ansible/configs/rhel8lab/infra-osp-create-inventory.yml
  ansible/lifecycle_osp.yml
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-osp-dry-run/tasks/main.yml
Labels: core, osp

#5157 Move all AWS sandbox output into the infra role
  ansible/configs/sandbox/post_software_ec2.yml
  ansible/roles-infra/infra-aws-open-environment/tasks/print_user_info.yaml
Labels: aws, core

#5158 removed student user in lieu of admin user
  ansible/configs/sandbox/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/sandbox/post_infra_ec2.yml
  ansible/configs/sandbox/post_software_ec2.yml
  ansible/roles-infra/infra-aws-open-environment/tasks/print_user_info.yaml
Labels: aws, core

#5159 remove all student and cloudformation config in lieu of infra-aws-ope…
  ansible/configs/sandbox/default_vars_ec2.yml
  ansible/configs/sandbox/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/sandbox/post_infra.yml
  ansible/configs/sandbox/post_infra_ec2.yml
  ansible/configs/sandbox/post_software.yml
  ansible/configs/sandbox/pre_infra_ec2.yml
  ansible/roles-infra/infra-aws-open-environment/tasks/print_user_info.yaml
Labels: aws, core

#5169 update user info text for adoc
  ansible/roles-infra/infra-aws-open-environment/tasks/print_user_info.yaml
Labels: aws, core

#5171 Changing openstack ansible module to os_server_info
  ansible/cloud_providers/osp_infrastructure_deployment.yml
  ansible/configs/multi-cloud-capsule/infra_configs/osp_infrastructure_deployment.yml
  ansible/configs/osp-migration/destroy_env.yml
  ansible/configs/osp-migration/infra.yml
  ansible/configs/osp-satellite-vm/destroy_env.yml
  ansible/configs/osp-satellite-vm/infra.yml
  ansible/lifecycle_osp.yml
  ansible/roles-infra/infra-osp-dry-run/tasks/main.yml
Labels: core, osp
