Repository redhat-cop/agnosticd, pull requests merged in 2022-08, with the labels that each got.

#5193 remove old core azure legacy code that fails
  ansible/cloud_providers/azure_infrastructure_deployment.yml
Labels: core, azure

#5195 Rewriting lifecycle_osp to utilize ansible modules instead of cli client
  ansible/lifecycle_osp.yml
Labels: core

#5200 Fix OCP on GCP SSH key issues
  ansible/cloud_providers/gcp_infrastructure_deployment.yml
  ansible/cloud_providers/gcp_ssh_config_setup.yml
  ansible/configs/ocp4-cluster/destroy_env_gcp.yml
  ansible/configs/ocp4-cluster/files/cloud_providers/gcp_cloud_template.j2
  ansible/roles-infra/infra-gcp-create-inventory/defaults/main.yml
  ansible/roles-infra/infra-gcp-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-gcp-install-sdk/tasks/main.yml
  ansible/roles-infra/infra-gcp-ssh-key/defaults/main.yml
  ansible/roles-infra/infra-gcp-ssh-key/tasks/main.yml
  ansible/roles-infra/infra-gcp-template-destroy/tasks/main.yml
  ansible/roles/agnosticd_save_output_dir/tasks/create-output-dir-archive.yml
Labels: core, gcp

#5203 re-add ssh config to ocp on gcp
  ansible/cloud_providers/gcp_infrastructure_deployment.yml
  ansible/cloud_providers/gcp_ssh_config_setup.yml
Labels: core, gcp

#5209 fix SSH keys for ocp on azure
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/cloud_providers/azure_ssh_config_setup.yml
  ansible/configs/ocp4-cluster/files/cloud_providers/azure_cloud_template.j2
  ansible/roles-infra/infra-azure-create-inventory/defaults/main.yml
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-azure-ssh-key/defaults/main.yml
  ansible/roles-infra/infra-azure-ssh-key/tasks/main.yml
Labels: core, azure

#5233 Add default for sandbox_enable_ui
  ansible/roles-infra/infra-aws-open-environment/defaults/main.yaml
Labels: aws, core

#5242 Ansible 2.9 OSP modules doesn't use "ansible_facts" key anymore
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#5230 Update infa-ec2-template-generate defaults/main.yml for newer images.
  ansible/roles-infra/infra-ec2-template-generate/defaults/main.yml
Labels: aws, core

#5246 Add user info default vars for infra-aws-open-environment
  ansible/roles-infra/infra-aws-open-environment/defaults/main.yaml
  ansible/roles-infra/infra-aws-open-environment/tasks/print_user_info.yaml
Labels: aws, core

#5261 Use project ID instead of name when destroying
  ansible/roles-infra/infra-equinix-metal-resources/tasks/delete_project.yaml
Labels: core, equinix

#5267 add role to get env_authorized_key_path to azure-create-inventory
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
Labels: core, azure

#5293 Azure start stop status
  ansible/configs/ocp4-cluster/lifecycle_hook_post_start.yml
  ansible/lifecycle.yml
  ansible/lifecycle_azure.yml
Labels: core

#5291 Fixing OSP environment vars
  ansible/lifecycle_osp.yml
Labels: core

#5294 Use new var name for create-inventory azure role
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
Labels: core, azure

#5295 Fix indentation in ansible/lifecycle_osp.yml
  ansible/lifecycle_osp.yml
Labels: core

#5298 remove call to env-authorized_key_path which breaks azure
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
Labels: core, azure

#5311 azure: do not define ssh key file per host
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
  ansible/roles/agnosticd_save_output_dir/tasks/create-output-dir-archive.yml
Labels: core, azure

#5313 Revert "azure: do not define ssh key file per host"
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
  ansible/roles/agnosticd_save_output_dir/tasks/create-output-dir-archive.yml
Labels: core, azure

#5321 fix status for azure cloud provider
  ansible/lifecycle_azure.yml
Labels: core

#5325 Add @rut31337 as a codeowner for azure files
  CODEOWNERS
Labels: repo, core
