Repository redhat-cop/agnosticd, pull requests merged in 2022-01, with the labels that each got.

#4325 New parameter to force ODCR to a single AZ
  ansible/action_plugins/agnosticd_odcr.py
  ansible/action_plugins/test_agnosticd_odcr.py
  ansible/cloud_providers/ec2_detect_region_tasks.yml
  ansible/configs/ocp4-cluster/default_vars_ec2.yml
  ansible/configs/ocp4-cluster/sample_vars/ocp4_cluster_aws_bare_bones.yml
  ansible/filter_plugins/tests/test_core.py
  ansible/roles-infra/infra-aws-capacity-reservation/defaults/main.yaml
  ansible/roles-infra/infra-aws-capacity-reservation/readme.adoc
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/create.yaml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/destroy.yaml
  ansible/roles/host-ocp4-installer/templates/install-config.yaml.j2
Labels: aws, core

#4334 Add alternative DNS names for instances
  ansible/roles-infra/infra-dns/defaults/main.yml
  ansible/roles-infra/infra-dns/readme.adoc
  ansible/roles-infra/infra-dns/tasks/instance_loop.yml
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-osp-dns/defaults/main.yml
  ansible/roles-infra/infra-osp-dns/tasks/instance_loop.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#4371 Fix variable name
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#4372 Update variable for dns_zone on infra-osp-dns role
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#4375 Add another error handler for azure keyvault check
  ansible/roles-infra/infra-azure-ssh-key/tasks/main.yml
Labels: core, azure

#4381 Fix cluster_dns_server var and port
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#4380 add azure collections to ocp4-cluster
  ansible/cloud_providers/azure_infrastructure_deployment.yml
Labels: core, azure
