Repository redhat-cop/agnosticd, pull requests merged in 2022-09, with the labels that each got.

#5367 update the way the bastion hostname is figured out
  ansible/cloud_providers/gcp_infrastructure_deployment.yml
  ansible/configs/ocp4-cluster/destroy_env_gcp.yml
  ansible/configs/ocp4-cluster/files/cloud_providers/gcp_cloud_template.j2
  ansible/configs/ocp4-cluster/post_software.yml
  ansible/roles-infra/infra-gcp-template-destroy/tasks/main.yml
Labels: core, gcp

#5386 add tag to resource groups created in infra
  ansible/cloud_providers/azure_infrastructure_deployment.yml
Labels: core, azure

#5393 fix destroy for gcp
  ansible/cloud_providers/gcp_destroy_env.yml
  ansible/configs/ocp4-cluster/post_software.yml
  ansible/roles-infra/infra-gcp-template-destroy/tasks/main.yml
Labels: core, gcp

#5430 Fix permission for labeler Github Action
  .github/workflows/labeler.yml
Labels: repo

#5431 add validation if the resource group is already deleted
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
  ansible/roles/open-env-azure-add-user-to-subscription/tasks/main.yml
  ansible/roles/open-env-azure-create-open-env/tasks/main.yml
Labels: core, azure

#5436 switch to env based auth
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
Labels: core, azure

#5449 fix status by handling incosistent az command output
  ansible/lifecycle_azure.yml
Labels: core

#5481 Use our own fork for asciidoctor-action
  .github/workflows/asciidoc.yml
Labels: repo
