Repository redhat-cop/agnosticd, pull requests merged in 2022-10, with the labels that each got.

#5504 Add create_ssh_provision_key_enable_user_info_data flag
  ansible/roles-infra/create_ssh_provision_key/defaults/main.yaml
  ansible/roles-infra/create_ssh_provision_key/tasks/main.yaml
Labels: core

#5516 add more text to avoid getting BETA for rhel9
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core

#5519 fix typo in rhel9 search string
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core

#5529 Remove filters for server_info module
  ansible/roles-infra/infra_osp_lifecycle/tasks/get-servers.yml
Labels: core

#5517 Add any_errors_fatal to ansible.cfg
  ansible.cfg
Labels: core

#5532 Fix azure destroy
  ansible/configs/ocp4-cluster/default_vars_azure.yml
  ansible/configs/ocp4-cluster/destroy_env_azure.yml
  ansible/lifecycle.yml
  ansible/lifecycle_azure.yml
  ansible/roles-infra/infra-azure-lifecycle/defaults/main.yml
  ansible/roles-infra/infra-azure-lifecycle/meta/main.yml
  ansible/roles-infra/infra-azure-lifecycle/tasks/initialize.yml
  ansible/roles-infra/infra-azure-lifecycle/tasks/main.yml
  ansible/roles-infra/infra-azure-lifecycle/tasks/start.yml
  ansible/roles-infra/infra-azure-lifecycle/tasks/status.yml
  ansible/roles-infra/infra-azure-lifecycle/tasks/stop.yml
Labels: core, azure

#5604 Update First_OSP_Env_walkthrough.adoc
  docs/First_OSP_Env_walkthrough.adoc
Labels: doc
