Repository redhat-cop/agnosticd, pull requests merged in 2022-02, with the labels that each got.

#4440 Add lookup plugin to codeowners
  CODEOWNERS
Labels: repo, core

#4434 Add update entry point playbook
  ansible/configs/test-empty-config/update.yml
  ansible/lifecycle_hook.yml
  ansible/lookup_plugins/agnosticd_user_data.py
  ansible/roles/agnosticd_restore_output_dir/tasks/main.yml
  ansible/roles/agnosticd_restore_output_dir/tasks/restore-from-s3.yml
  ansible/setup_runtime.yml
  ansible/update.yml
  ansible/update_placeholder.yml
Labels: core

#4462 Refactor ocp4_workload_rhacm to use install_operator
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/remove_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Labels: enhancement

#4383 Fix to install collections into collections paths
  ansible/install_galaxy_roles.yml
Labels: core
