Repository redhat-cop/agnosticd, pull requests merged in 2023-08, with the labels that each got.

#6846 [infra-vmc-resources] Add 404 error as allowed
  ansible/roles-infra/infra-vmc-resources/tasks/create_public_ip_and_nat.yaml
Labels: core, vmware

#6848 [infra-vmc-resources] Update create_additional_public_ips.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/create_additional_public_ips.yaml
Labels: core

#6872 Update osp_infrastructure_deployment.yml
  ansible/cloud_providers/osp_infrastructure_deployment.yml
Labels: core, osp

#6873 replacing r_osp_facts to r_osp_server_facts
  ansible/configs/multi-cloud-capsule/README.adoc
  ansible/configs/multi-cloud-capsule/default_vars.yml
  ansible/configs/multi-cloud-capsule/default_vars_ec2.yml
  ansible/configs/multi-cloud-capsule/default_vars_osp.yml
  ansible/configs/multi-cloud-capsule/destroy_env.yml
  ansible/configs/multi-cloud-capsule/files/cloud_providers/ec2_cloud_template.j2
  ansible/configs/multi-cloud-capsule/files/cloud_providers/osp_cloud_template_master.j2
  ansible/configs/multi-cloud-capsule/files/hosts_template.j2
  ansible/configs/multi-cloud-capsule/files/repos_template.j2
  ansible/configs/multi-cloud-capsule/infra.yml
  ansible/configs/multi-cloud-capsule/infra_configs/ec2_infrastructure_deployment.yml
  ansible/configs/multi-cloud-capsule/infra_configs/infra-common-ssh-config-generate.yml
  ansible/configs/multi-cloud-capsule/infra_configs/infra-osp-create-inventory.yml
  ansible/configs/multi-cloud-capsule/infra_configs/osp_infrastructure_deployment.yml
  ansible/configs/multi-cloud-capsule/post_infra.yml
  ansible/configs/multi-cloud-capsule/post_software.yml
  ansible/configs/multi-cloud-capsule/pre_infra.yml
  ansible/configs/multi-cloud-capsule/pre_software.yml
  ansible/configs/multi-cloud-capsule/requirements.yml
  ansible/configs/multi-cloud-capsule/sample_vars_ec2.yml
  ansible/configs/multi-cloud-capsule/sample_vars_osp.yml
  ansible/configs/multi-cloud-capsule/software.yml
  ansible/configs/multi-cloud-capsule/start.yml
  ansible/configs/multi-cloud-capsule/stop.yml
  ansible/configs/osp-satellite-vm/infra.yml
  ansible/configs/osp-stf/post_software.yml
  ansible/configs/rhel8lab/infra-osp-create-inventory.yml
  ansible/roles-infra/infra-dns/defaults/main.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-osp-dry-run/tasks/main.yml
  ansible/roles-infra/infra_osp_lifecycle/tasks/get-servers.yml
Labels: core, osp

#6897 [infra-vmc-resources] Update delete_public_ip_and_nat.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/delete_public_ip_and_nat.yaml
Labels: core

#6900 [infra-vmc-resources] Update delete_additional_public_ips.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/delete_additional_public_ips.yaml
Labels: core

#6899 fix random password generation to fit new AWS requirements
  ansible/configs/ocp4-on-rosa-with-rhods/pre_infra_ec2.yml
  ansible/configs/rosa/pre_infra_ec2.yml
  ansible/roles-infra/infra-aws-open-environment/defaults/main.yaml
Labels: aws, core

#6905 update collection for osp infra
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-osp-dry-run/tasks/main.yml
  ansible/roles-infra/infra-osp-resources-destroy/tasks/detect_project.yml
  ansible/roles-infra/infra-osp-resources-destroy/tasks/keypairs.yml
  ansible/roles-infra/infra-osp-resources-destroy/tasks/project.yml
  ansible/roles-infra/infra-osp-save-images/tasks/stop_vms.yml
  ansible/roles-infra/infra_osp_bastion_on_openshift_network/tasks/add-bastion-to-openstack-network.yml
  ansible/roles-infra/infra_osp_lifecycle/tasks/get-servers.yml
Labels: core, osp

#6804 ee: increase expiration of image for PR to 7 days
  .github/workflows/build-ee-pr.yml
Labels: repo, core

#6912 fix typo in openstack module
  ansible/roles-infra/infra-osp-project-create/tasks/main.yml
Labels: core, osp

#6913 remove unnecessary ansible_facts
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-osp-project-create/tasks/main.yml
Labels: core, osp

#6917 fix rhods provision and extra stuff in delete
  ansible/configs/ocp4-cluster/destroy_env_azure.yml
  ansible/configs/ocp4-cluster/destroy_env_ec2.yml
  ansible/configs/ocp4-cluster/destroy_env_osp.yml
  ansible/configs/ocp4-cluster/destroy_env_vmc.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6924 fix typo in rhods destroy
  ansible/roles-infra/infra-osp-resources-destroy/tasks/keypairs.yml
Labels: core, osp

#6943 fix ip discovery in osp cloud provider
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
Labels: core, osp

#6944 fix dns lookups
  ansible/configs/osp-migration/dns_loop.yml
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6953 toughen up check for environments that might not have a bastion
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
Labels: core

#6955 update osp collection and variables
  ansible/cloud_providers/osp_infrastructure_deployment.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6958 fix env with no bastion
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
Labels: core

#6959 fix typo in bastion search
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
Labels: core

#6960 fix instance search
  ansible/cloud_providers/osp_infrastructure_deployment.yml
Labels: core, osp
