Repository redhat-cop/agnosticd, pull requests merged in 2023-11, with the labels that each got.

#6986 ee-multicloud: release v0.1.1 version
  .github/workflows/build-ee-pr.yml
  tools/execution_environments/ee-multicloud-public/readme.adoc
Labels: repo

#7365 fix concatenation for ssh key path
  ansible/roles-infra/infra-osp-template-generate/defaults/main.yaml
Labels: core, osp

#7395 Update build-ee-pr.yml
  .github/workflows/build-ee-pr.yml
Labels: repo

#7392 CODEOWNERS: req agnosticd-core for ee-multicloud
  CODEOWNERS
Labels: repo, core

#7408 Adding RHEL9.3 Gold Image
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core

#7425 add deletion of segment ports
  ansible/roles-infra/infra-vmc-resources/tasks/delete_segment.yaml
Labels: core

#7433 Azure support for Showroom OCP, and shared cluster support:wq
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/open-environment-azure-subscription/README.adoc
  ansible/configs/open-environment-azure-subscription/default_vars.yml
  ansible/configs/open-environment-azure-subscription/post_software.yml
  ansible/roles_ocp_workloads/ocp4_workload_showroom/README.adoc
  ansible/roles_ocp_workloads/ocp4_workload_showroom/defaults/main.yaml
  ansible/roles_ocp_workloads/ocp4_workload_showroom/tasks/pre_workload.yml
Labels: core, azure

#7445 Add Route53 support for Equinix/OpenShift Virtualization
  ansible/cloud_providers/equinix_metal_infrastructure_deployment.yml
  ansible/cloud_providers/openshift_cnv_infrastructure_deployment.yml
  ansible/configs/migrating-to-ocpvirt/post_infra.yml
  ansible/configs/migrating-to-ocpvirt/pre_software.yml
  ansible/configs/roadshow-ocpvirt/post_infra.yml
  ansible/configs/roadshow-ocpvirt/pre_software.yml
  ansible/configs/roadshow-ocpvirt/templates/httpd/ssl.conf
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-dns/tasks/pre_checks.yml
Labels: core, equinix

#7470 [infra-vmc-resources] Add group_type parameter to NSXT call
  ansible/roles-infra/infra-vmc-resources/tasks/create_public_ip_and_nat.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/delete_public_ip_and_nat.yaml
Labels: core

#7471 [infra-vmc-resources] Move parameter to proper place
  ansible/roles-infra/infra-vmc-resources/tasks/create_public_ip_and_nat.yaml
Labels: core
