Repository redhat-cop/agnosticd, pull requests merged in 2023-04, with the labels that each got.

#6222 Update infra-images with supported RHEL8
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core

#6179 Last fix for checks
  ansible/install_galaxy_roles.yml
Labels: core

#6232 Initial Bookbag docs, inspired by Summit 2023
  docs/Working_with_bookbag.adoc
  docs/images/bookbag-webui-example.png
Labels: doc

#6264 add retries to ARM deployment in Azure cloud provider
  ansible/cloud_providers/azure_infrastructure_deployment.yml
Labels: core, azure

#6268 Mention ordering before Let's Encrypt
  docs/Working_with_bookbag.adoc
Labels: doc

#6277 [infra-vmc-resources] Update create_public_ip_and_nat.yaml to add retries
  ansible/roles-infra/infra-vmc-resources/tasks/create_public_ip_and_nat.yaml
Labels: core
