Repository redhat-cop/agnosticd, pull requests merged in 2023-05, with the labels that each got.

#6384 Adding linux-based instructions for deploying with Ansible Execution
  docs/Deploying_Using_Execution_Environments.adoc
Labels: doc

#6402 Gcp lifecycle
  ansible/lifecycle.yml
  ansible/lifecycle_gcp.yml
  ansible/roles-infra/infra-gcp-credentials-file/tasks/main.yml
  ansible/roles-infra/infra-gcp-lifecycle/defaults/main.yml
  ansible/roles-infra/infra-gcp-lifecycle/meta/main.yml
  ansible/roles-infra/infra-gcp-lifecycle/tasks/initialize.yml
  ansible/roles-infra/infra-gcp-lifecycle/tasks/main.yml
  ansible/roles-infra/infra-gcp-lifecycle/tasks/start.yml
  ansible/roles-infra/infra-gcp-lifecycle/tasks/status.yml
  ansible/roles-infra/infra-gcp-lifecycle/tasks/stop.yml
  ansible/roles-infra/lc.yml
Labels: core, gcp

#6403 remove extra file
  ansible/roles-infra/lc.yml
Labels: core

#6442 Move aro bastion
  ansible/cloud_providers/azure_destroy_env.yml
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/open-environment-azure/default_vars.yml
  ansible/configs/open-environment-azure/destroy_env.yml
  ansible/configs/open-environment-azure/files/cloud_providers/azure_parameters_template.j2
  ansible/configs/open-environment-azure/post_software.yml
  ansible/configs/open-environment-azure/pre_software.yml
  ansible/configs/open-environment-azure/software.yml
  ansible/roles/open-env-azure-create-open-env/tasks/main.yml
  ansible/roles/open-env-azure-delete-open-env/tasks/main.yml
  ansible/roles/open-env-azure-install-aro/defaults/main.yml
  ansible/roles/open-env-azure-install-aro/tasks/create-kubeconfig.yml
  ansible/roles/open-env-azure-install-aro/tasks/install-aro-az-command.yml
  ansible/roles/open-env-azure-install-aro/tasks/install-aro-azcollection.yml
  ansible/roles/open-env-azure-install-aro/tasks/main.yml
  ansible/roles/set-repositories/tasks/main.yml
  ansible/roles/set-repositories/tasks/satellite-repos.yml
  ansible/roles/set-repositories/tasks/unregister.yml
Labels: core, azure

#6448 [VMC SANDBOX] Update create_access.yml
  ansible/roles-infra/infra-vmc-sandbox/tasks/create_access.yml
Labels: core
