Repository redhat-cop/agnosticd, pull requests merged in 2023-02, with the labels that each got.

#5926 Add workflow to build ee-multicloud
  .github/workflows/build-ee-pr.yml
  .github/workflows/build-ee.yml
  tools/execution_environments/ee-multicloud-public/Containerfile
  tools/execution_environments/ee-multicloud-public/bindep.txt
  tools/execution_environments/ee-multicloud-public/build.sh
  tools/execution_environments/ee-multicloud-public/execution-environment.yml
  tools/execution_environments/ee-multicloud-public/install_binaries.sh
  tools/execution_environments/ee-multicloud-public/readme.adoc
  tools/execution_environments/ee-multicloud-public/requirements.txt
  tools/execution_environments/ee-multicloud-public/requirements.yml
  tools/execution_environments/ee-multicloud/execution-environment.yml
  tools/execution_environments/ee-multicloud/requirements.yml
Labels: repo

#5944 [infra-vmc-resources] Delete project even if is empty.
  ansible/roles-infra/infra-vmc-resources/tasks/delete_instances.yaml
Labels: core

#5934 ee-multicloud improvements
  docs/Deploying_Using_Execution_Environments.adoc
  tools/execution_environments/ee-multicloud-public/Containerfile
  tools/execution_environments/ee-multicloud-public/readme.adoc
Labels: doc

#5893 Support updated amazon collections in requirements.
  ansible/lifecycle_ec2.yml
  ansible/roles-infra/infra-ec2-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-ec2-template-generate/.yamllint
  ansible/roles-infra/infra-ec2-template-generate/tasks/main.yml
  ansible/roles-infra/infra-ec2-template-generate/tasks/upload_template-aws_s3.yml
  ansible/roles-infra/infra-ec2-template-generate/tasks/upload_template-s3_object.yml
  ansible/roles/agnosticd_restore_output_dir/tasks/fetch-from-s3-aws_s3.yml
  ansible/roles/agnosticd_restore_output_dir/tasks/fetch-from-s3-s3_object.yml
  ansible/roles/agnosticd_restore_output_dir/tasks/restore-from-s3.yml
  ansible/roles/agnosticd_save_output_dir/tasks/upload-archive-s3-aws_s3.yml
  ansible/roles/agnosticd_save_output_dir/tasks/upload-archive-s3-s3_object.yml
  ansible/roles/agnosticd_save_output_dir/tasks/upload-archive-s3.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/edge_nodes_info/tasks/main.yml
  ansible/roles/set-repositories/tasks/satellite-repos.yml
Labels: aws, core

#5957 Fix additional missing parenthesis
  ansible/roles-infra/infra-ec2-template-generate/tasks/main.yml
  ansible/roles/agnosticd_save_output_dir/tasks/upload-archive-s3.yml
Labels: aws, core

#5963 Add retries to infra-vmc-resources
  ansible/roles-infra/infra-vmc-resources/tasks/create_instance.yaml
Labels: core

#5966 Fix typo retrying task for VMC
  ansible/roles-infra/infra-vmc-resources/tasks/create_instance.yaml
Labels: core

#5964 Skip installing existing collections when using EE
  ansible/filter_plugins/core.py
  ansible/filter_plugins/tests/test_core.py
  ansible/install_collections_ee.yml
  ansible/install_galaxy_roles.yml
Labels: core

#5971 Add workflow_dispatch to build-ee
  .github/workflows/build-ee-dispatch.yml
  .github/workflows/build-ee.yml
Labels: repo

#5973 build-ee-dispatch: remove redundant input
  .github/workflows/build-ee-dispatch.yml
  .github/workflows/build-ee.yml
Labels: repo

#5976 [VMC] Retry create folder
  ansible/roles-infra/infra-vmc-resources/tasks/create_instances.yaml
Labels: core

#5974 Rename deprecated ec2_ami_facts
  ansible/roles-infra/infra-ec2-template-create/tasks/detect_custom_images.yml
Labels: aws, core

#5985 update toc and spacing
  docs/README.adoc
Labels: doc

#5996 Fix handling of requirements without collections
  ansible/install_galaxy_roles.yml
Labels: core

#6002 Add new infra hook per cloud provider for configs
  ansible/configs/sandbox/infra_ec2.yml
  ansible/configs/sandbox/post_infra.yml
  ansible/configs/sandbox/post_software.yml
  ansible/main.yml
Labels: core
