Repository redhat-cop/agnosticd, pull requests merged in 2023-07, with the labels that each got.

#6638 [VMC SANDBOX] Ensure the IP is gathered
  ansible/roles-infra/infra-vmc-resources/tasks/create_instance.yaml
Labels: core

#6640 [VMC SANDBOX] Remove sleep and improve until condition
  ansible/roles-infra/infra-vmc-resources/tasks/create_instance.yaml
Labels: core

#6642 [infra-vmc-resources] fix typo
  ansible/roles-infra/infra-vmc-resources/tasks/create_instance.yaml
Labels: core

#6675 Fix azure destroy
  ansible/cloud_providers/azure_destroy_env.yml
Labels: core, azure

#6718 Fix misplaced when in azure cloud provider
  ansible/cloud_providers/azure_destroy_env.yml
Labels: core, azure

#6726 [infra-vmc-resources] ipv4 parameter is null when is not detected
  ansible/roles-infra/infra-vmc-resources/tasks/create_instance.yaml
Labels: core

#6742 remove azure keyvault stuff fix ansible inventory with proper ssh key…
  ansible/configs/ocp4-cluster/destroy_env_azure.yml
  ansible/configs/ocp4-cluster/post_infra.yml
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
Labels: core, azure

#6758 Update Developing_Workloads_on_Bastion.adoc
  docs/Developing_Workloads_on_Bastion.adoc
Labels: doc
