Repository redhat-cop/agnosticd, pull requests merged in 2023-10, with the labels that each got.

#7096 Cleaning up lots of Azure-related code
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/ocp4-getting-started-aro/README.adoc
  ansible/configs/ocp4-getting-started-aro/default_vars.yml
  ansible/configs/ocp4-getting-started-aro/destroy_env.yml
  ansible/configs/ocp4-getting-started-aro/files/cloud_providers/azure_cloud_template.j2
  ansible/configs/ocp4-getting-started-aro/files/cloud_providers/azure_parameters_template.j2
  ansible/configs/ocp4-getting-started-aro/infra.yml
  ansible/configs/ocp4-getting-started-aro/post_infra.yml
  ansible/configs/ocp4-getting-started-aro/post_software.yml
  ansible/configs/ocp4-getting-started-aro/pre_infra.yml
  ansible/configs/ocp4-getting-started-aro/pre_software.yml
  ansible/configs/ocp4-getting-started-aro/requirements.yml
  ansible/configs/ocp4-getting-started-aro/software.yml
  ansible/configs/ocp4-getting-started-aro/templates/agnosticd_user_info_upload.yaml.j2
  ansible/configs/ocp4-getting-started-aro/templates/demo-operator-catalog-source.yaml
  ansible/configs/ocp4-getting-started-aro/templates/demo-operator-namespace.yaml
  ansible/configs/ocp4-getting-started-aro/templates/demo-operator-operator-group.yaml
  ansible/configs/ocp4-getting-started-aro/templates/demo-operator-subscription.yaml
  ansible/configs/ocp4-getting-started-aro/templates/demo-workshop-install.yaml.j2
  ansible/configs/ocp4-getting-started-aro/workloads.yml
  ansible/configs/open-environment-azure-subscription/default_vars.yml
  ansible/roles/ocp4-workload-homeroomlab-odo/tasks/post_workload.yml
  ansible/roles/ocp4-workload-homeroomlab-starter-guides/tasks/post_workload.yml
  ansible/roles/ocp4-workload-homeroomlab-tekton-pipelines/tasks/post_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_nexus_operator/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_nexus_operator_0.17/tasks/workload.yml
Labels: core, azure

#7085 Adding cloud provider OpenShift CNV (OpenShift Virtualization)
  ansible/cloud_providers/README.adoc
  ansible/cloud_providers/openshift_cnv_destroy_env.yml
  ansible/cloud_providers/openshift_cnv_infrastructure_deployment.yml
  ansible/cloud_providers/openshift_cnv_ssh_config_setup.yml
  ansible/lifecycle.yml
  ansible/lifecycle_openshift_cnv.yml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/defaults/main.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/authentication.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/defaults/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/meta/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/authentication.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/check_network.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_network.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_networks.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_project.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_routes.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_service.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_services.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_networks.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_project.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/setup_runtime.yml
  docs/Supported_Cloud_Providers.adoc
Labels: doc, core

#7134 [infra-common-ssh-config-generate] Add port to the bastion config + add openshift_cnv default user
  ansible/roles-infra/infra-common-ssh-config-generate/defaults/main.yml
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
Labels: core

#7142 [infra-osp-dns] Update nested_loop.yml - add ansible facts
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#7143 [Roles-Infra-OSP-DNS] Update nested_loop.yml
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#7144 allow for spaces in lock name
  ansible/roles-infra/infra-azure-template-destroy/tasks/main.yml
Labels: core, azure

#7145 fix bad az lock delete command
  ansible/roles-infra/infra-azure-template-destroy/tasks/main.yml
Labels: core, azure

#7151 [infra-osp-dns] Moving from jsonquery to selectattr
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#7138 Add new role to perform OpenShift Assisted Installer on CNV
  ansible/configs/ocp4-cluster/default_vars_openshift_cnv.yml
  ansible/configs/ocp4-cluster/destroy_env_openshift_cnv.yml
  ansible/configs/ocp4-cluster/files/requirements_openshift_cnv.txt
  ansible/configs/ocp4-cluster/post_software.yml
  ansible/configs/ocp4-cluster/requirements.yml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/main.yaml
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
  ansible/roles/host-ocp4-assisted-destroy/templates/cleanup-ceph.yaml.j2
  ansible/roles/host-ocp4-assisted-destroy/vars/main.yaml
  ansible/roles/host-ocp4-assisted-installer/files/etcd_disk.yaml
  ansible/roles/host-ocp4-assisted-installer/files/network_config.yaml
  ansible/roles/host-ocp4-assisted-installer/files/router_replicas.yaml
  ansible/roles/host-ocp4-assisted-installer/files/sysctl-control-plane.yaml
  ansible/roles/host-ocp4-assisted-installer/files/sysctl-workers.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/main.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/print_cluster_info.yml
  ansible/roles/host-ocp4-assisted-installer/templates/installation-iso.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/masters_svc.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/net-attach-def.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/static_network_config_full.j2
  ansible/roles/host-ocp4-assisted-installer/templates/workers_svc.yaml
  ansible/roles/host-ocp4-assisted-installer/vars/main.yaml
  ansible/software_playbooks/openshift4_assisted.yml
Labels: core

#7176 fix deletion of old CEE CIs
  ansible/cloud_providers/osp_destroy_env.yml
  ansible/configs/sap-smart/requirements.yml
Labels: core, osp

#7177 add missing env of osp cloud provider
  ansible/cloud_providers/osp_destroy_env.yml
Labels: core, osp

#7189 [infra-vmc-sandbox] Fix role name for read only
  ansible/roles-infra/infra-vmc-sandbox/tasks/create_access.yml
Labels: core

#7200 add check for dns delete
  ansible/roles-infra/infra-osp-dns/tasks/main.yml
Labels: core, osp

#7229 Update remove_access.yml
  ansible/roles-infra/infra-vmc-sandbox/tasks/remove_access.yml
Labels: core

#7232 [ocp4-cluster] [cnv-resources] Improve inventory role and fix starting OCP4 on CNV
  ansible/configs/ocp4-cluster/lifecycle_hook_post_start.yml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
Labels: core

#7270 Move OCP on GCP installs into projects
  ansible/cloud_providers/gcp_infrastructure_deployment.yml
  ansible/configs/ocp4-cluster/default_vars_gcp.yml
  ansible/configs/ocp4-cluster/destroy_env_gcp.yml
  ansible/configs/ocp4-cluster/pre_infra.yml
  ansible/roles/gcp-get-token/tasks/main.yml
  ansible/roles/host-ocp4-provisioner/tasks/gcp_prereqs.yml
  ansible/roles/open-env-gcp-add-user-to-project/defaults/main.yml
  ansible/roles/open-env-gcp-add-user-to-project/tasks/main.yml
Labels: core, gcp

#7274 remove guid search for instances in gcp lifecycle
  ansible/roles-infra/infra-gcp-lifecycle/tasks/initialize.yml
Labels: core, gcp

#7279 remove opentlc admin backdoor and use generated infra key
  ansible/roles-infra/infra-osp-template-generate/defaults/main.yaml
Labels: core, osp

#7281 untested conditional
  ansible/setup_runtime.yml
Labels: core
