Repository redhat-cop/agnosticd, pull requests merged in 2023-09, with the labels that each got.

#6967 Update nested_loop.yml - attempt to fix failed find ip on osp
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6968 Update nested_loop.yml - debug DNS lookup
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6969 Update nested_loop.yml - need to move debug above failed task
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6975 [infra-osp-create-inventory] Fix search private/public ip
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
Labels: core, osp

#6976 [infra-osp-dns] Get first IP searching for public ip
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
Labels: core, osp

#6977 [infra-osp-create-inventory] Improve find IPs
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
Labels: core, osp

#6979 OSP EE fixes
  ansible/configs/ocp4-cluster/files/requirements_osp.txt
  ansible/roles-infra/infra-osp-dns/tasks/nested_loop.yml
  ansible/roles/host-ocp4-installer/tasks/main.yml
  ansible/roles/host-ocp4-provisioner/files/openstack_requirements.txt
Labels: core, osp

#6980 Osp ee fixes
  ansible/roles-infra/infra-osp-create-inventory/tasks/main.yml
Labels: core, osp

#6906 config/open*azure: add showroom deployer
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/open-environment-azure/default_vars.yml
  ansible/configs/open-environment-azure/files/cloud_providers/azure_cloud_template.j2
  ansible/configs/open-environment-azure/infra.yml
  ansible/configs/open-environment-azure/post_software.yml
  ansible/configs/open-environment-azure/pre_software.yml
  ansible/roles/showroom/defaults/main.yml
  ansible/roles/showroom/tasks/40-showroom-render.yml
  ansible/roles/showroom/tasks/60-showroom-verify.yml
  ansible/roles/showroom/templates/index.html.j2
  ansible/roles/showroom/templates/service_docs_aro/tab_docs_aro.j2
  ansible/roles/showroom/templates/service_docs_aro/tablink_docs_aro.j2
  ansible/roles/showroom/templates/service_double_terminal/tabs_double_terminal.j2
Labels: core, azure

#7016 fix bad default in azure open env
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/open-environment-azure/post_software.yml
Labels: core, azure

#7024 use command to delete lock because collection is broken
  ansible/roles-infra/infra-azure-template-destroy/tasks/main.yml
  ansible/roles/open-env-azure-remove-user-from-subscription/tasks/main.yml
Labels: core, azure

#7025 fix typo in lock deletion
  ansible/roles-infra/infra-azure-template-destroy/tasks/main.yml
Labels: core, azure

#7028 Remove recovery services vault azure
  ansible/roles-infra/infra-azure-template-destroy/tasks/main.yml
  ansible/roles/open-env-azure-remove-user-from-subscription/tasks/empty_resource_group.yml
  ansible/roles/open-env-azure-remove-user-from-subscription/tasks/main.yml
Labels: core, azure

#7036 WiP: config/open-environment-azure-subscription + bastion
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/open-environment-azure-subscription/default_vars.yml
  ansible/configs/open-environment-azure-subscription/files/cloud_providers/azure_cloud_template.j2
  ansible/configs/open-environment-azure-subscription/files/cloud_providers/azure_parameters_template.j2
  ansible/configs/open-environment-azure-subscription/infra.yml
  ansible/configs/open-environment-azure-subscription/post_software.yml
  ansible/configs/open-environment-azure-subscription/pre_software.yml
  ansible/configs/open-environment-azure/infra.yml
  ansible/configs/open-environment-azure/post_software.yml
  ansible/configs/open-environment-azure/pre_software.yml
  ansible/roles-infra/infra-azure-create-inventory/tasks/main.yml
  ansible/roles/open-env-azure-create-open-env/tasks/main.yml
Labels: core, azure

#7044 Explicitly prefix EEs for PRs 'temporary-pr-...'
  .github/workflows/build-ee-pr.yml
  tools/execution_environments/ee-multicloud-public/release_cycle.adoc
  tools/execution_environments/readme.adoc
Labels: repo

#7045 Azure with Subscription: fixup and include generated password
  ansible/cloud_providers/azure_infrastructure_deployment.yml
  ansible/configs/open-environment-azure-subscription/default_vars.yml
  ansible/configs/open-environment-azure-subscription/infra.yml
  ansible/configs/open-environment-azure-subscription/post_software.yml
  ansible/roles/open-env-azure-create-open-env/tasks/main.yml
Labels: core, azure
