Repository redhat-cop/agnosticd, pull requests merged in 2024-03, with the labels that each got.

#7664 Fix error with empty owner tag for ec2
  ansible/roles-infra/infra-ec2-template-generate/templates/cloud_template.j2
Labels: aws, core

#7677 [infra-openshift-cnv-resources] enhance CNV cloud provider
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_services.yaml
Labels: core

#7681 [CNV] Allow authentication with token (from SA)
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/main.yaml
Labels: core

#7689 add docs on dumping the catalog snapshot
  docs/Operator_Catalog_Snapshots.adoc
Labels: doc

#7705 Refactoring OCP authentication variables
  ansible/cloud_providers/openshift_cnv_infrastructure_deployment.yml
  ansible/configs/ansible-lightspeed/default_vars_openshift_cnv.yml
  ansible/configs/base-infra/default_vars_openshift_cnv.yaml
  ansible/configs/sap-hana/default_vars_openshift_cnv.yaml
  ansible/configs/sap-hana/post_software.yml
  ansible/configs/sap-hana/software.yml
  ansible/configs/zero-touch-base-rhel/default_vars_openshift_cnv.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/authentication.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/authentication.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_routes.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/main.yaml
Labels: core

#7716 [VMWAREIBM] Create a new cloud_provider
  ansible/cloud_providers/requirements_vmware_ibm.yml
  ansible/cloud_providers/vmware_ibm_destroy_env.yml
  ansible/cloud_providers/vmware_ibm_infrastructure_deployment.yml
  ansible/cloud_providers/vmware_ibm_pre_checks.yml
  ansible/configs/sandbox/default_vars_vmware_ibm.yaml
  ansible/configs/sandbox/post_infra.yml
  ansible/configs/sandbox/post_infra_vmware_ibm.yml
  ansible/configs/sandbox/post_software.yml
  ansible/configs/sandbox/post_software_vmware_ibm.yml
  ansible/configs/sandbox/software.yml
  ansible/configs/sandbox/software_vmware_ibm.yml
  ansible/configs/sandbox/vmware_ibm_destroy_env.yml
  ansible/lifecycle.yml
  ansible/roles-infra/infra-common-ssh-config-generate/defaults/main.yml
  ansible/roles-infra/infra-dns/defaults/main.yml
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra_vmware_ibm_create_inventory/defaults/main.yaml
  ansible/roles-infra/infra_vmware_ibm_create_inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra_vmware_ibm_create_inventory/tasks/main.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/defaults/main.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/meta/main.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_additional_public_ips.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instance.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_public_ip_and_nat.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_segment.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_additional_public_ips.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_public_ip_and_nat.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_segment.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/find_least_used_datastore.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/main.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/nsxt_authentication.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/start_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/status_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_sandbox/defaults/main.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/create_access.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/delete_access.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/main.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/remove_access.yml
  ansible/setup_runtime.yml
Labels: core

#7723 Rename openshift_cnv_project_name to openshift_cnv_namespace and use as default sandbox_openshift_namespace
  ansible/configs/ansible-lightspeed/default_vars_openshift_cnv.yml
  ansible/configs/base-infra/default_vars_openshift_cnv.yaml
  ansible/configs/ocp4-cluster/default_vars_openshift_cnv.yml
  ansible/configs/zero-touch-base-rhel/default_vars_openshift_cnv.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/defaults/main.yaml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/defaults/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/check_network.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_network.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_project.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_routes.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_service.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_services.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_networks.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_project.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/main.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/status_instances.yaml
  ansible/roles/host-ocp4-assisted-destroy/vars/main.yaml
  ansible/roles/host-ocp4-assisted-installer/vars/main.yaml
Labels: core

#7729 Update equinix_metal_infrastructure_deployment.yml
  ansible/cloud_providers/equinix_metal_infrastructure_deployment.yml
Labels: core, equinix
