Repository redhat-cop/agnosticd, pull requests merged in 2024-11, with the labels that each got.

#8752 Preserve user-data across run
  .gitignore
  ansible/action_plugins/agnosticd_odcr.py
  ansible/action_plugins/agnosticd_user_info.py
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/completion_callback.yml
  ansible/configs/base-infra/default_vars.yml
  ansible/configs/base-infra/default_vars_ec2.yml
  ansible/configs/base-infra/post_software.yml
  ansible/configs/base-infra/pre_software.yml
  ansible/configs/base-infra/sample_files/multiple_regions_fallback_with_odcr.yaml
  ansible/configs/just-a-bunch-of-nodes/default_vars.yml
  ansible/configs/just-a-bunch-of-nodes/default_vars_ec2.yml
  ansible/configs/just-a-bunch-of-nodes/sample_vars_multiple_region_retry.yaml
  ansible/destroy.yml
  ansible/lifecycle.yml
  ansible/lifecycle_ec2.yml
  ansible/lookup_plugins/agnosticd_user_data.py
  ansible/main.yml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/create.yaml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/destroy.yaml
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
  ansible/roles-infra/infra-images/tasks/ec2.yaml
  ansible/setup_output_dir.yml
  ansible/setup_runtime.yml
  ansible/update.yml
  docs/User_Info.adoc
  training/03_Infrastructure/02_Advanced/03_Understanding_Main_File.adoc
Labels: doc, aws, core

#8782 [infra-ec2-template-create] Set stack_deployed at the end of the block
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
Labels: aws, core

#8787 [infra-openshift-cnv-resources] Temporary ignore errors to cleanup CIs
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_networks.yaml
Labels: core

#8808 [infra-openshift-cnv-resources] Wait till the VM is running
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
Labels: core

#8885 Add support for RHEL95 and RHELAI 1.2 AMIs
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core

#8890 renaming RHEL95 image name
  ansible/roles-infra/infra-images/defaults/main.yaml
Labels: core
