Repository redhat-cop/agnosticd, pull requests merged in 2024-09, with the labels that each got.

#8505 fix typo in start/stop for vmware
  ansible/roles-infra/infra-vmc-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/stop_instances.yaml
Labels: core

#8550 Fix GitHub username for build-ee-dispatch.yml
  .github/workflows/build-ee-dispatch.yml
Labels: repo

#8558 [infra-openshift-cnv-resources] Add limits to VM
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
Labels: core

#8565 Adding multi and shared_openshift cloud providers
  ansible/cloud_providers/multi_infrastructure_deployment.yml
  ansible/cloud_providers/shared_openshift_infrastructure_deployment.yml
  ansible/setup_runtime.yml
Labels: core

#8563 [infra-openshift-cnv-resources] Fix start stop conditions
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
Labels: core

#8605 [infra-equinix-metal-resources] Adding useful provisioning data
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_instances.yaml
Labels: core, equinix

#8608 Add api_version to kubevirt.io/v1
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/status_instances.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
Labels: core
