Repository redhat-cop/agnosticd, pull requests merged in 2024-04, with the labels that each got.

#7759 disabling facility parameter
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_instances.yaml
Labels: core, equinix

#7762 Adding new collection equinix.cloud
  ansible/configs/roadshow-ocpvirt/requirements.yml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_instances.yaml
Labels: core, equinix

#7766 Update equinix.metal.device to equinix.cloud.metal_device
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_instances.yaml
Labels: core, equinix

#7769 Equinix cloud package update from Equinix Metal
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-equinix-metal-create-inventory/tasks/main.yaml
  ansible/roles-infra/infra-equinix-metal-dry-run/tasks/main.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_instances.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_project.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra-equinix-metal-resources/tasks/delete_project.yaml
  tools/execution_environments/ee-multicloud-public/requirements.txt
  tools/execution_environments/ee-multicloud-public/requirements.yml
Labels: core, equinix

#7779 Update delete_instances.yaml - JK fix for deletes
  ansible/roles-infra/infra-equinix-metal-resources/tasks/delete_instances.yaml
Labels: core, equinix

#7803 judd lb2005 ready to go
  ansible/configs/convert-to-rhel-azure-arc/AWS_Apache_RHLAB.yml
  ansible/configs/convert-to-rhel-azure-arc/AWS_MySQL_RHLAB.yml
  ansible/configs/convert-to-rhel-azure-arc/README.adoc
  ansible/configs/convert-to-rhel-azure-arc/default_vars.yml
  ansible/configs/convert-to-rhel-azure-arc/default_vars_ec2.yml
  ansible/configs/convert-to-rhel-azure-arc/destroy_env.yml
  ansible/configs/convert-to-rhel-azure-arc/files/aap2-repo.repo
  ansible/configs/convert-to-rhel-azure-arc/files/clouds.yaml.j2
  ansible/configs/convert-to-rhel-azure-arc/files/hosts_template.j2
  ansible/configs/convert-to-rhel-azure-arc/files/install_linux_azcmagent.sh
  ansible/configs/convert-to-rhel-azure-arc/files/repos_template.j2
  ansible/configs/convert-to-rhel-azure-arc/files/ssh_config.j2
  ansible/configs/convert-to-rhel-azure-arc/files/tower_cli.j2
  ansible/configs/convert-to-rhel-azure-arc/post_infra.yml
  ansible/configs/convert-to-rhel-azure-arc/post_software.yml
  ansible/configs/convert-to-rhel-azure-arc/pre_infra.yml
  ansible/configs/convert-to-rhel-azure-arc/pre_software.yml
  ansible/configs/convert-to-rhel-azure-arc/requirements.txt
  ansible/configs/convert-to-rhel-azure-arc/requirements.yml
  ansible/configs/convert-to-rhel-azure-arc/services.yml
  ansible/configs/convert-to-rhel-azure-arc/software.yml
  ansible/configs/convert-to-rhel-azure-arc/templates/deploy_arc.sh.j2
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
  ansible/roles-infra/infra-ec2-create-inventory/tasks/main.yml
Labels: aws, core

#7818 defaut -> default
  ansible/roles-infra/infra-common-ssh-config-generate/tasks/main.yml
Labels: core

#7819 Pass ansible_user and remote_user through ec2 tags
  ansible/roles-infra/infra-ec2-create-inventory/tasks/main.yml
  ansible/roles-infra/infra-ec2-template-generate/templates/cloud_template.j2
Labels: aws, core

#7822 Update cloud_template.j2 - aws workaround
  ansible/configs/rosa-consolidated/files/cloud_providers/ec2_cloud_template.j2
  ansible/roles-infra/infra-ec2-template-generate/templates/cloud_template.j2
Labels: aws, core

#7851 Adding ocp4-disconnected configs (try 2)
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/configs/ocp4-disconnected/.yamllint
  ansible/configs/ocp4-disconnected/README.adoc
  ansible/configs/ocp4-disconnected/default_vars.yml
  ansible/configs/ocp4-disconnected/default_vars_ec2.yml
  ansible/configs/ocp4-disconnected/destroy_env.yml
  ansible/configs/ocp4-disconnected/post_infra.yml
  ansible/configs/ocp4-disconnected/post_software.yml
  ansible/configs/ocp4-disconnected/pre_infra.yml
  ansible/configs/ocp4-disconnected/pre_software.yml
  ansible/configs/ocp4-disconnected/requirements.yml
  ansible/configs/ocp4-disconnected/sample_vars.yml
  ansible/configs/ocp4-disconnected/software.yml
  ansible/roles_ocp_workloads/ocp4_workload_showroom/tasks/deploy-showroom-helm.yaml
Labels: urgent, core

#7867 Added ocp4-cluster and rosa-consolidated to core approvals
  CODEOWNERS
Labels: repo, core

#7806 New infra-role infra-windows-connection-facts
  ansible/roles-infra/infra-windows-connection-facts/.yamllint
  ansible/roles-infra/infra-windows-connection-facts/defaults/main.yml
  ansible/roles-infra/infra-windows-connection-facts/tasks/main.yml
Labels: core

#7944 ec2_infra_deployment.yml include role to define ansible connection to…
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
Labels: aws, core

#7945 infra-windows-connection-facts correct var typos
  ansible/roles-infra/infra-windows-connection-facts/defaults/main.yml
  ansible/roles-infra/infra-windows-connection-facts/tasks/main.yml
Labels: core

#7946 infra-windows-connection-facts remove extra dashes at top of yaml
  ansible/roles-infra/infra-windows-connection-facts/defaults/main.yml
Labels: core

#7948 infra-windows-connection-facts update main.yml to properly pull vars
  ansible/roles-infra/infra-windows-connection-facts/tasks/main.yml
Labels: core

#7952 Update for roles concerning LB1401
  ansible/configs/base-infra/pre_software.yml
  ansible/roles-infra/infra-windows-connection-facts/defaults/main.yml
  ansible/roles/ansible_idm_setup_lab/templates/ansible_hosts.j2
Labels: core

#7958 fix ipaddr in vmware sandbox
  ansible/roles-infra/infra-vmc-resources/tasks/create_additional_public_ips.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/create_segment.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/delete_additional_public_ips.yaml
Labels: core

#7966 ansible-bu-workshop: use on-demand capacity reservations
  ansible/configs/ansible-bu-workshop/default_vars_ec2.yml
  ansible/filter_plugins/core.py
Labels: core
