Repository redhat-cop/agnosticd, pull requests merged in 2025-06, with the labels that each got.

#9354 Cleanup infra-ec2-create-inventory local_bastion logic
  ansible/roles-infra/infra-ec2-create-inventory/tasks/main.yml
Labels: aws, core

#9356 IBM Cloud: automatically detect availability zone
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/login.yaml
Labels: core

#9364 infra-dns: separate nsupdate / route53 and standardize on 'base_domain'
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-dns/tasks/pre_checks.yml
Labels: core

#9361 IBMCloud: Add data volume lifecycle management
  ansible/cloud_providers/ibm_resource_group_infrastructure_deployment.yml
  ansible/cloud_providers/ibm_resource_group_mount_volume.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/add_host.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/checks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_volume.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/main.yaml
Labels: core, ibm

#9373 CNV and IBM Cloud: Cleanup dns names
  ansible/cloud_providers/ibm_resource_group_destroy_env.yml
  ansible/cloud_providers/openshift_cnv_destroy_env.yml
Labels: core, ibm

#9372 IBM Cloud: do not add guid to instance name and fix instance count
  ansible/cloud_providers/ibm_resource_group_infrastructure_deployment.yml
  ansible/configs/base-infra/default_vars_ibm_resource_group.yml
  ansible/filter_plugins/core.py
  ansible/lifecycle.yml
  ansible/roles-infra/create_ssh_provision_key/tasks/main.yaml
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/add_host.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/defaults/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_ssh_key.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_volume.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_ssh_key.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/stop_instances.yaml
Labels: core, ibm

#9375 ibmcloud: fix start
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/start_instances.yaml
Labels: core
