Repository redhat-cop/agnosticd, pull requests merged in 2025-04, with the labels that each got.

#9176 [infra-openshift-cnv-resources] Update create_routes.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_routes.yaml
Labels: core

#9204 replaced instance filter
  ansible/roles-infra/infra-gcp-create-inventory/tasks/main.yml
Labels: core, gcp

#9248 Patch ibm cloud provider to work with custom images
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/login.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/main.yaml
  tools/execution_environments/ee-multicloud-public/install_binaries.sh
Labels: core

#9254 ibmcloud improvements: user-data, cloud-config, multi-region fix
  ansible/cloud_providers/ibm_resource_group_destroy_env.yml
  ansible/cloud_providers/ibm_resource_group_infrastructure_deployment.yml
  ansible/configs/rosa-consolidated/pre_software.yml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/add_host.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/stop_instances.yaml
  ansible/roles/bastion-base/tasks/main.yml
  ansible/roles/bastion-lite/tasks/main.yml
  ansible/roles/bastion-student-user/tasks/main.yml
Labels: core, ibm

#9260 [infra-openshift-cnv-resources] Add the option of Type LoadBalancer to assign external IP
  ansible/configs/base-infra/post_software.yml
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_service.yaml
Labels: core
