Repository redhat-cop/agnosticd, pull requests merged in 2025-03, with the labels that each got.

#9079 [infra-openshift-cnv-resources] Change default mtu to 1500 for secondary networks
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_network.yaml
Labels: core

#9041 New cloud_provider: IBM Resource Group
  ansible/cloud_providers/ibm_resource_group_destroy_env.yml
  ansible/cloud_providers/ibm_resource_group_infrastructure_deployment.yml
  ansible/configs/base-infra/default_vars_ibm_resource_group.yml
  ansible/configs/sandbox/post_software.yml
  ansible/configs/sandbox/post_software_ibm_resource_group.yml
  ansible/lifecycle.yml
  ansible/lifecycle_ibm_resource_group.yml
  ansible/roles-infra/infra-dns/defaults/main.yml
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/defaults/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/add_host.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-ibm-resource-group-create-inventory/tasks/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/defaults/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/meta/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_resource_group.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_security_group.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_security_groups.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_ssh_key.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_resource_group.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_security_groups.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_ssh_key.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/stop_instances.yaml
  ansible/setup_runtime.yml
Labels: core, ibm

#9163 Add role infra-ec2-open-ssh-access
  ansible/configs/rosa-consolidated/destroy_env.yml
  ansible/roles-infra/infra-ec2-open-ssh-access/readme.adoc
  ansible/roles-infra/infra-ec2-open-ssh-access/tasks/configure.yml
  ansible/roles-infra/infra-ec2-open-ssh-access/tasks/configure_security_group.yml
  ansible/roles-infra/infra-ec2-open-ssh-access/tasks/main.yml
Labels: aws, core
