Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

deploy: 62d849adc61756461abf649f865fb66c1e417ef6
  index.html
Owners: none

Preserve user-data across run (#8752)
  .gitignore
  ansible/action_plugins/agnosticd_odcr.py
  ansible/action_plugins/agnosticd_user_info.py
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/completion_callback.yml
  ansible/configs/base-infra/default_vars.yml
  ansible/configs/base-infra/default_vars_ec2.yml
  ansible/configs/base-infra/post_software.yml
  ansible/configs/base-infra/pre_software.yml
  ansible/configs/base-infra/sample_files/multiple_regions_fallback_with_odcr.yaml
  ansible/configs/just-a-bunch-of-nodes/default_vars.yml
  ansible/configs/just-a-bunch-of-nodes/default_vars_ec2.yml
  ansible/configs/just-a-bunch-of-nodes/sample_vars_multiple_region_retry.yaml
  ansible/destroy.yml
  ansible/lifecycle.yml
  ansible/lifecycle_ec2.yml
  ansible/lookup_plugins/agnosticd_user_data.py
  ansible/main.yml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/create.yaml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/destroy.yaml
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
  ansible/roles-infra/infra-images/tasks/ec2.yaml
  ansible/setup_output_dir.yml
  ansible/setup_runtime.yml
  ansible/update.yml
  docs/User_Info.adoc
  training/03_Infrastructure/02_Advanced/03_Understanding_Main_File.adoc
Owners: @fridim, @redhat-cop/agnosticd-core

deploy: 73dbaacd84178e148cc28fd49a79d155c547b13c
  index.html
Owners: none

Update net-attach-def.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/net-attach-def.yaml
Owners: none

workload platform engineering workshop
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/files/openshift_gitops_clusterrolebinding.yaml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/external_secrets.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/gitlab.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/keycloak.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/noobaa.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/openshift_gitops.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/openshift_pipelines.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/parasol.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/post_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/pre_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/quay.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/redhat_developer_hub.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/rhdh_gitops.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/showroom.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/vault.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/developer-hub/developer-hub-application.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/developer-hub/secret-default-sa-token.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/external-secrets/external-secrets-application.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/gitlab/gitlab-application.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/keycloak/keycloak-application.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/noobaa/noobaa-application.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/openshift-gitops/openshift-gitops.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/openshift-pipelines/openshift-pipelines-application.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/parasol/parasol-application.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/quay/quay-application.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/rhdh-gitops/rhdh-gitops-application.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/templates/vault/vault-application.yml.j2
Owners: none

no defined users
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/showroom.yml
Owners: none

Update net-attach-def.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/net-attach-def.yaml
Owners: none

RHTAS: Enable Rekor search UI
  ansible/roles_ocp_workloads/ocp4_workload_trusted_artifact_signer/templates/tas-secure-sign.yml.j2
Owners: none

RHTAS: Enable Rekor search UI (#8781)
  ansible/roles_ocp_workloads/ocp4_workload_trusted_artifact_signer/templates/tas-secure-sign.yml.j2
Owners: none

deploy: 335b03fa6a74aab8736aae608765fac37f04d290
  index.html
Owners: none

Update main.yml
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
Owners: @redhat-cop/agnosticd-core

Update main.yml
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
Owners: @redhat-cop/agnosticd-core

[infra-ec2-template-create] Set stack_deployed at the end of the block
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
Owners: @redhat-cop/agnosticd-core

[infra-ec2-template-create] Set stack_deployed at the end of the block (#8782)
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
Owners: @redhat-cop/agnosticd-core

deploy: d9bc5aa15be2fdadf6127d61a53991abdd39fed3
  index.html
Owners: none

Update net-attach-def.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/net-attach-def.yaml
Owners: none

Update static_network_config_full.j2
  ansible/roles/host-ocp4-assisted-installer/templates/static_network_config_full.j2
Owners: none

Update etcd_disk.yaml
  ansible/roles/host-ocp4-assisted-installer/files/etcd_disk.yaml
Owners: none

Update net-attach-def.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/net-attach-def.yaml
Owners: none

Fix aap2 workload wait for subscription
  ansible/roles_ocp_workloads/ocp4_workload_ansible_automation_platform/tasks/workload.yml
Owners: none

Fix aap2 workload wait for subscription (#8783)
  ansible/roles_ocp_workloads/ocp4_workload_ansible_automation_platform/tasks/workload.yml
Owners: none

deploy: 6f2ddce3cdd6895f31335adc56b896bae543f51c
  index.html
Owners: none

[host-ocp4-assisted-destroy] Ignore errors for cleanup ceph
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
Owners: none

[host-ocp4-assisted-destroy] Ignore errors for cleanup ceph (#8784)
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
Owners: none

deploy: cc10e5b2deb7df12584271a8e25dffd865a54353
  index.html
Owners: none

Update main.yaml
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
Owners: none

Update main.yaml (#8785)
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
Owners: none

deploy: e1375b919369fe93f8c1ba707928755613a34fe3
  index.html
Owners: none

Comment out the config file creation for iLab
  ansible/roles/rad_setup_instructlab/tasks/50-dev-tools-setup.yml
Owners: none

Comment out the config file creation for iLab (#8786)
  ansible/roles/rad_setup_instructlab/tasks/50-dev-tools-setup.yml
Owners: none

deploy: 758795ff7dd6a85018c6299ad6d338b6ffe5c524
  index.html
Owners: none

[infra-openshift-cnv-resources] Temporary ignore errors to cleanup CIs
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_networks.yaml
Owners: @redhat-cop/agnosticd-core

[hcp-ocpv] Fix requirements (#8788)
  ansible/configs/hcp-ocpv/requirements.yml
Owners: none

deploy: 0bd97782f38038e17f5cd89af81ab0edb6c352fa
  index.html
Owners: none

[infra-openshift-cnv-resources] Temporary ignore errors to cleanup CIs (#8787)
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/delete_networks.yaml
Owners: @redhat-cop/agnosticd-core

deploy: 352592b175da8894b8ec5d45c5805c48a5b32cd9
  index.html
Owners: none

Update net-attach-def.yaml
  ansible/roles/host-ocp4-assisted-installer/templates/net-attach-def.yaml
Owners: none

Update static_network_config_full.j2
  ansible/roles/host-ocp4-assisted-installer/templates/static_network_config_full.j2
Owners: none

Update static_network_config_full.j2
  ansible/roles/host-ocp4-assisted-installer/templates/static_network_config_full.j2
Owners: none

Update create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
Owners: @redhat-cop/agnosticd-core

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh
