Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

update
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/cronjob-vault-es-fix.yml.j2
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/deployment-post-startup-fixes.yml.j2
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/tasks/setup_backstage.yml
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/cm-secured-cluster.yml.j2
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/deployment-post-startup-fixes.yml.j2
Owners: none

Update requirements.yml
  ansible/configs/rosa-consolidated/requirements.yml
Owners: @redhat-cop/agnosticd-core

RHDH: Recreated secured cluster (#8530)
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/cronjob-vault-es-fix.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/deployment-post-startup-fixes.yml.j2
Owners: none

deploy: ff3ae5867dbfb2ec2a868602c29b1549ad757c39
  index.html
Owners: none

VMWare: new collection
  ansible/configs/rosa-consolidated/files/requirements_k8s.txt
Owners: @redhat-cop/agnosticd-core

VMWare: new collection (#8532)
  ansible/configs/rosa-consolidated/files/requirements_k8s.txt
Owners: @redhat-cop/agnosticd-core

deploy: 43891de0714d4ae2f197902ac086706d83174f5b
  index.html
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/workload.yml
Owners: none

Adding infra workload post install task
  ansible/configs/experience-ocpvirt/post_software.yml
Owners: none

adding logics
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/need_to_be_removed_backup.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/workload.yml
Owners: none

adding logics
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/workload.yml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/tasks/main.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/templates/hostedcluster.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/templates/nodepool.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/templates/workers_svc.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/vars/main.yaml
Owners: none

fix var names
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/need_to_be_removed_backup.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/workload.yml
Owners: none

Improving code
  ansible/configs/experience-ocpvirt/post_software.yml
  ansible/configs/experience-ocpvirt/software.yml
Owners: none

remove ssl validation for vcenter
  ansible/roles-infra/infra_vmware_ibm_create_inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instance.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/start_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/create_access.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/remove_access.yml
Owners: @redhat-cop/agnosticd-core

Improving code
  ansible/configs/experience-ocpvirt/post_software.yml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-destroy/tasks/main.yaml
Owners: none

[ocp4_workload_virt_roadshow_vmware] Add missing until on vcenter_setup_create_folder_and_vms.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Improving code
  ansible/configs/experience-ocpvirt/post_software.yml
Owners: none

[ocp4_workload_virt_roadshow_vmware] Add missing until on vcenter_setup_create_folder_and_vms.yml (#8534)
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

deploy: 5f1bc710b527d21ca14b1842e98a181f3e44fd92
  index.html
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/templates/kubeconfig.yaml
Owners: none

Improving code
  ansible/configs/experience-ocpvirt/post_software.yml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/templates/pullsecret.yaml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/templates/pullsecret.yaml
Owners: none

adding loop to test all of the resources
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
Owners: none

make validate certs a var
  ansible/roles-infra/infra-vmc-sandbox/tasks/create_access.yml
  ansible/roles-infra/infra-vmc-sandbox/tasks/remove_access.yml
  ansible/roles-infra/infra_vmware_ibm_create_inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instance.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/start_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/create_access.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/remove_access.yml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

remove ssl validation for vcenter (#8533)
  ansible/roles-infra/infra-vmc-sandbox/tasks/create_access.yml
  ansible/roles-infra/infra-vmc-sandbox/tasks/remove_access.yml
  ansible/roles-infra/infra_vmware_ibm_create_inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instance.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/start_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/create_access.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/remove_access.yml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

deploy: d7a6262be1b05216520d7a114cf5dd98fec12090
  index.html
Owners: none

updating devspaces
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/tasks/install_devspaces.yml
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/templates/devspace_cluster.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/templates/devspace_workspace.yml.j2
Owners: none

updating devspaces (#8536)
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/tasks/install_devspaces.yml
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/templates/devspace_cluster.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/templates/devspace_workspace.yml.j2
Owners: none

deploy: 7f4467c07329022a04e9ea9b725cc25e06a8492e
  index.html
Owners: none

Add showroom tmux.conf.j2 logic for copy and paste with showroom
  ansible/roles/showroom/tasks/22-showroom-users-security.yml
  ansible/roles/showroom/templates/tmux.conf.j2
Owners: none

Adding failover for rosa metal node (#8535)
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/workload.yml
Owners: none

deploy: 04f80259bae5b18ff3ae8d964cd03044259c1e32
  index.html
Owners: none

cleanup
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
Owners: none

cleanup (#8537)
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
Owners: none

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh
