Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh

deploy: e920b98013452b9f539c74f74262970852fd19e9
  index.html
Owners: none

Adding ocp4_workload_hcp_kubevirt
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/readme.adoc
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/tasks/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/tasks/post_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/tasks/pre_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/tasks/remove_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/tasks/workload.yml
Owners: none

update
  ansible/configs/zero-touch-ansible-bu/workloads.yml
Owners: none

update
  ansible/configs/zero-touch-ansible-bu/workloads.yml
Owners: none

Enhanced workloads (#8844)
  ansible/configs/zero-touch-ansible-bu/workloads.yml
Owners: none

deploy: b2003b1b3aa51984f6766a0168dd7a09036396ec
  index.html
Owners: none

turning noobaa ON
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/defaults/main.yml
Owners: none

Update internal zone
  ansible/configs/zero-touch-ansible-bu/default_vars_ec2.yml
Owners: none

Create main.yaml
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/defaults/main.yaml
Owners: none

allow ingresscontroller updates for wildcards
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

Rework install_operator role. Document extra config options for subscriptions
  ansible/roles/install_operator/defaults/main.yml
  ansible/roles/install_operator/meta/main.yml
  ansible/roles/install_operator/tasks/install.yml
  ansible/roles/install_operator/tasks/main.yml
  ansible/roles/install_operator/tasks/remove.yml
  ansible/roles/install_operator/templates/catalogsource.yaml.j2
  ansible/roles/install_operator/templates/installplan.yaml.j2
  ansible/roles/install_operator/templates/operatorgroup.yaml.j2
  ansible/roles/install_operator/templates/subscription.yaml.j2
Owners: none

Rework kubevirt role a bit. Add support for nested KVM virtualization
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/post_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/pre_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/vars/main.yml
Owners: none

Add_extra_config_option_to_kubevirt (#8847)
  ansible/roles/install_operator/defaults/main.yml
  ansible/roles/install_operator/meta/main.yml
  ansible/roles/install_operator/tasks/install.yml
  ansible/roles/install_operator/tasks/main.yml
  ansible/roles/install_operator/tasks/remove.yml
  ansible/roles/install_operator/templates/catalogsource.yaml.j2
  ansible/roles/install_operator/templates/installplan.yaml.j2
  ansible/roles/install_operator/templates/operatorgroup.yaml.j2
  ansible/roles/install_operator/templates/subscription.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/post_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/pre_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/vars/main.yml
Owners: none

deploy: f8fadda5eae42686dbd3cf5fe827dbe87e7f034b
  index.html
Owners: none

line too long
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

ocp4_workload_rhacm: allow ingresscontroller updates for wildcards (#8846)
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

deploy: ae908d24fe5f5c87613ee087e3cc9e06f78c0a86
  index.html
Owners: none

Update workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_hcp_kubevirt/tasks/workload.yml
Owners: none

allow ingresscontroller updates for wildcards
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

Add_extra_config_option_to_kubevirt (#8847)
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

fix indentation
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

Wildcard routes for hcp hosted clusters (#8848)
  ansible/roles_ocp_workloads/ocp4_workload_rhacm/tasks/workload.yml
Owners: none

deploy: 82957e0c8fb23b1dbcaa702aa92d40285d9b85b1
  index.html
Owners: none

Extend web tabs to support more iframe options
  ansible/roles/showroom/templates/service_web1/tab_web1.j2
  ansible/roles/showroom/templates/service_web2/tab_web2.j2
Owners: none

Extend web tabs to support more iframe options (#8849)
  ansible/roles/showroom/templates/service_web1/tab_web1.j2
  ansible/roles/showroom/templates/service_web2/tab_web2.j2
Owners: none

deploy: 5ae21bbf24c46066edeae2d0ab78132d03fa91ec
  index.html
Owners: none

adding ocp4_workload_lvms
  ansible/roles_ocp_workloads/ocp4_workload_lvms/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/files/lvmcluster.yaml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/meta/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/readme.adoc
  ansible/roles_ocp_workloads/ocp4_workload_lvms/tasks/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/tasks/post_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/tasks/pre_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/tasks/remove_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_lvms/tasks/workload.yml
Owners: none

adding ocp4_workload_lvms
  ansible/roles_ocp_workloads/ocp4_workload_lvms/files/lvmcluster.yaml
Owners: none

Preserve user-data across run (#8752)
  .gitignore
  ansible/action_plugins/agnosticd_odcr.py
  ansible/action_plugins/agnosticd_user_info.py
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/completion_callback.yml
  ansible/configs/base-infra/default_vars.yml
  ansible/configs/base-infra/default_vars_ec2.yml
  ansible/configs/base-infra/post_software.yml
  ansible/configs/base-infra/pre_software.yml
  ansible/configs/base-infra/sample_files/multiple_regions_fallback_with_odcr.yaml
  ansible/configs/just-a-bunch-of-nodes/default_vars.yml
  ansible/configs/just-a-bunch-of-nodes/default_vars_ec2.yml
  ansible/configs/just-a-bunch-of-nodes/sample_vars_multiple_region_retry.yaml
  ansible/destroy.yml
  ansible/lifecycle.yml
  ansible/lifecycle_ec2.yml
  ansible/lookup_plugins/agnosticd_user_data.py
  ansible/main.yml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/create.yaml
  ansible/roles-infra/infra-aws-capacity-reservation/tasks/destroy.yaml
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
  ansible/roles-infra/infra-images/tasks/ec2.yaml
  ansible/setup_output_dir.yml
  ansible/setup_runtime.yml
  ansible/update.yml
  docs/User_Info.adoc
  training/03_Infrastructure/02_Advanced/03_Understanding_Main_File.adoc
Owners: @fridim, @redhat-cop/agnosticd-core

RHTAS: Enable Rekor search UI (#8781)
  ansible/roles_ocp_workloads/ocp4_workload_trusted_artifact_signer/templates/tas-secure-sign.yml.j2
Owners: none

Fix aap2 workload wait for subscription (#8783)
  ansible/roles_ocp_workloads/ocp4_workload_ansible_automation_platform/tasks/workload.yml
Owners: none

[infra-ec2-template-create] Set stack_deployed at the end of the block (#8782)
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
Owners: @redhat-cop/agnosticd-core

[ocp4_workload_openshift_gitops] Add retries waiting for ArgoCD (#8779)
  ansible/roles_ocp_workloads/ocp4_workload_openshift_gitops/tasks/workload.yml
Owners: none

[install_operator] adjust retries and delay for csv check (#8780)
  ansible/roles/install_operator/tasks/install.yml
Owners: none

Update main.yaml (#8785)
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
Owners: none

[host-ocp4-assisted-destroy] Ignore errors for cleanup ceph (#8784)
  ansible/roles/host-ocp4-assisted-destroy/tasks/main.yaml
Owners: none

Add missing permission on backuptarget namespaces (#8793)
  ansible/roles_ocp_workloads/ocp4_workload_kasten_k10/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_kasten_k10/templates/rolebinding-namespace.yaml.j2
Owners: none

targethost variable added to post_software.yaml (#8805)
  ansible/configs/ansible-bu-workshop/post_software.yml
Owners: none

[host-ocp4-assisted-installer] For worker_instance_count to be an int (#8806)
  ansible/roles/host-ocp4-assisted-installer/tasks/main.yaml
Owners: none

Add logic to annotate volumesnapshotclasses if so desired (#8792)
  ansible/roles_ocp_workloads/ocp4_workload_kasten_k10/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_kasten_k10/tasks/workload.yml
Owners: none
