Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh

Post Startup Fix: Create vars for namespaces (#8524)
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/deployment-post-startup-fixes.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/deployment-post-startup-fixes.yml.j2
Owners: none

Fix rosa machine pool role (#8545)
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
Owners: none

RHDH: Recreated secured cluster (#8530)
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/cronjob-vault-es-fix.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/deployment-post-startup-fixes.yml.j2
Owners: none

update machine set provision (#8528)
  ansible/roles_ocp_workloads/ocp4_workload_ai_llm_rag_demo/tasks/create-gpu-machine-set.yaml
  ansible/roles_ocp_workloads/ocp4_workload_ai_llm_rag_demo/templates/gpu-machine-sets.j2
Owners: none

removing devspaces versions (#8544)
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/tasks/install_devspaces.yml
Owners: none

Add enhanced tmux.conf with cross-platform copy and paste to showroom (#8540)
  ansible/roles/showroom/tasks/22-showroom-users-security.yml
  ansible/roles/showroom/templates/tmux.conf.j2
Owners: none

VMWare: new collection (#8532)
  ansible/configs/rosa-consolidated/files/requirements_k8s.txt
Owners: @redhat-cop/agnosticd-core

Role 'common' , add when conditionals for ansible version (#8518)
  ansible/roles/common/tasks/main.yml
Owners: none

remove ssl validation for vcenter (#8533)
  ansible/roles-infra/infra-vmc-sandbox/tasks/create_access.yml
  ansible/roles-infra/infra-vmc-sandbox/tasks/remove_access.yml
  ansible/roles-infra/infra_vmware_ibm_create_inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instance.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/create_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/delete_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/start_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/create_access.yml
  ansible/roles-infra/infra_vmware_ibm_sandbox/tasks/remove_access.yml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

deploy_automationcontroller role - Modify init.yml in certificate_authority role (#8543)
  ansible/roles/deploy_automationcontroller/tasks/main.yml
Owners: none

Remove restart policy (#8526)
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/deployment-post-startup-fixes.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/deployment-post-startup-fixes.yml.j2
Owners: none

Pre-deployed VMs were working before. Fix for roadshow (#8525)
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/templates/multi_user/service_database.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/templates/multi_user/vm_winweb01.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/templates/multi_user/vm_winweb02.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/templates/single_user/service_database.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/templates/single_user/vm_winweb01.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vms/templates/single_user/vm_winweb02.yaml.j2
Owners: none

[ocp4_workload_virt_roadshow_vmware] Add missing until on vcenter_setup_create_folder_and_vms.yml (#8534)
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Fix Cronjob (#8519)
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/cronjob-vault-es-fix.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/cronjob-vault-es-fix.yml.j2
Owners: none

Adding failover for rosa metal node (#8535)
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/add_metal_node.yml
  ansible/roles_ocp_workloads/ocp4_workload_rosa_machinepool/tasks/workload.yml
Owners: none

updating devspaces (#8536)
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/tasks/install_devspaces.yml
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/templates/devspace_cluster.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_summit_2024_cloud_native_camel/templates/devspace_workspace.yml.j2
Owners: none

revert attempt at pinning starting CSV for devworkspaces/openshiftterminal
  ansible/configs/experience-ocpvirt/files/configure_operators.sh
Owners: none

revert attempt at pinning starting CSV for devworkspaces/openshiftterminal (#8548)
  ansible/configs/experience-ocpvirt/files/configure_operators.sh
Owners: none

deploy: 1187ff57832349f51e7c40698aa5afcb7bfa2b9f
  index.html
Owners: none

Update to use git_revision variable to commit pin in rollouts repo
  ansible/roles_ocp_workloads/ocp4_workload_rollouts_workshop/files/gitops-operator/subscription.yaml
  ansible/roles_ocp_workloads/ocp4_workload_rollouts_workshop/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_rollouts_workshop/templates/pipelines-operator.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_rollouts_workshop/templates/rollouts-manager.yaml.j2
  ansible/roles_ocp_workloads/ocp4_workload_rollouts_workshop/templates/user-appset.yaml.j2
Owners: none

Fix GitHub username for build-ee-dispatch.yml
  .github/workflows/build-ee-dispatch.yml
Owners: @redhat-cop/agnosticd-core

Fix GitHub username for build-ee-dispatch.yml (#8550)
  .github/workflows/build-ee-dispatch.yml
Owners: @redhat-cop/agnosticd-core

deploy: 1b433477db507b19a78547da2d1f2375d043a26c
  index.html
Owners: none

Adding OCP_VIRT_ROADSHOW_MULTI_USER_HCP_OCPV03
  ansible/roles_ocp_workloads/ocp4_workload_mtv/tasks/workload.yml
Owners: none

Adding OCP_VIRT_ROADSHOW_MULTI_USER_HCP_OCPV03
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Improving code
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Improving code
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

[ocp4_workload_virt_roadshow_vmware] Using vcenter_folder_info instead folder_moid
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Update vcenter_setup_create_folder_and_vms.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Update vcenter_setup_create_folder_and_vms.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/defaults/main.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/templates/nodepool.yaml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/templates/nodepool.yaml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/templates/nodepool.yaml
Owners: none

Improving code
  ansible/roles/host-ocp4-hcp-cnv-install/templates/nodepool.yaml
Owners: none

[ocp4_workload_virt_roadshow_vmware] Using vcenter_folder_info instead folder_moid (#8551)
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

deploy: cd87510f61dd96f652f6ffc677cd1fa142d5cf68
  index.html
Owners: none

Improving code
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/workload.yml
Owners: none

Improving code
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

[ocp4_workload_virt_roadshow_vmware] Adding missing environment variables
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_create_folder_and_vms.yml
Owners: none

Improving code
  ansible/roles_ocp_workloads/ocp4_workload_kubevirt/tasks/workload.yml
Owners: none
