Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

[WIP] Adding retires
  ansible/roles_ocp_workloads/ocp4_workload_openshift_gitops/tasks/workload.yml
Owners: none

Adding test host-ocp4-hcp-cnv role
  ansible/configs/ocp4-cluster/destroy_env_openshift_cnv.yml
Owners: @redhat-cop/agnosticd-core

Adding test host-ocp4-hcp-cnv role
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/hostedcluster.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/nodepool.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/pullsecret.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/workers_svc.yaml
Owners: none

Adding rhacm helm chart
  ansible/roles/host-ocp4-hcp-cnv/templates/hostedcluster.yaml
Owners: none

Lower cpu requests in ocp4_workload_showroom
  ansible/roles_ocp_workloads/ocp4_workload_showroom/defaults/main.yaml
Owners: none

Lower cpu requests in ocp4_workload_showroom (#8503)
  ansible/roles_ocp_workloads/ocp4_workload_showroom/defaults/main.yaml
Owners: none

deploy: e8ffb5682d51b6de1eed8c10ae7a4c96e6d01936
  index.html
Owners: none

Adding rhacm helm chart
  ansible/roles/host-ocp4-hcp-cnv/templates/hostedcluster.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/nodepool.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/pullsecret.yaml
Owners: none

Adding test host-ocp4-hcp-cnv role
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/hostedcluster.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/kubeconfig.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/kubeconfigsecret.yaml
Owners: none

Adding test host-ocp4-hcp-cnv role
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

Adding test host-ocp4-hcp-cnv role
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

Adding test host-ocp4-hcp-cnv role
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

remove validated install for testing
  ansible/roles_ocp_workloads/ocp4_workload_ai_llm_rag_demo/tasks/workload.yml
Owners: none

remove ignore_errors. add variable to let subscription-manager to manage the repos
  ansible/roles/set-repositories/tasks/rhn-repos.yml
  ansible/roles/set-repositories/tasks/satellite-repos.yml
Owners: none

recover the needed 'collections/requirements.yml' file.
  ansible/configs/controller-migration-casc/collections/requirements.yml
Owners: none

deleted the not needed 'collections/requirements.yml' file. call include_role instead of 'roles'.
  ansible/configs/controller-migration-casc/collections/requirements.yml
  ansible/configs/controller-migration-casc/software.yml
Owners: none

deleted the not needed 'collections/requirements.yml' file. call include_role instead of 'roles'.
  ansible/configs/controller-migration-casc/software.yml
Owners: none

variables updated
  ansible/configs/controller-migration-casc/env_vars.yml
Owners: none

variables updated
  ansible/configs/controller-migration-casc/env_vars.yml
Owners: none

variables updated
  ansible/configs/controller-migration-casc/env_vars.yml
Owners: none

remove validated install for testing (#8504)
  ansible/roles_ocp_workloads/ocp4_workload_ai_llm_rag_demo/tasks/workload.yml
Owners: none

deploy: 0d37ee1ad2f40951edf1fc21d96b2b219e9279df
  index.html
Owners: none

Adding test host-ocp4-hcp-cnv role
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

fix typo in start/stop for vmware
  ansible/roles-infra/infra-vmc-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/stop_instances.yaml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

fix bool and default
  ansible/roles-infra/infra-vmc-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/stop_instances.yaml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

zero-touch-base-rhel install tmux, add tmux config to centos
  ansible/configs/zero-touch-base-rhel/pre_software.yml
Owners: none

indents
  ansible/configs/zero-touch-base-rhel/pre_software.yml
Owners: none

zero-touch-base-rhel install tmux, add tmux config to centos (#8506)
  ansible/configs/zero-touch-base-rhel/pre_software.yml
Owners: none

deploy: bd5e7af8a73077637f587ed96d1a6caf2d0a57f1
  index.html
Owners: none

Add condition for virt and add rolebinding for hcp
  ansible/roles/host-ocp4-hcp-cnv/templates/hostedcluster.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/kubeconfigsecret.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/nodepool.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/pullsecret.yaml
  ansible/roles/host-ocp4-hcp-cnv/templates/workers_svc.yaml
Owners: none

Add condition for virt and add rolebinding for hcp
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

Add condition for virt and add rolebinding for hcp
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

Add condition for virt and add rolebinding for hcp
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

Add condition for virt and add rolebinding for hcp
  ansible/roles/host-ocp4-hcp-cnv/tasks/main.yaml
Owners: none

asset-injector role, update block in file options
  ansible/roles/asset_injector/tasks/main.yml
Owners: none

variables updated
  ansible/configs/controller-migration-casc/post_software.yml
Owners: none

Add slow etcd profile
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/main.yaml
  ansible/roles/host-ocp4-assisted-installer/vars/main.yaml
Owners: none

removed debugging false conditions
  ansible/cloud_providers/ec2_infrastructure_deployment.yml
  ansible/roles-infra/infra-ec2-template-create/tasks/main.yml
  ansible/roles-infra/infra-ec2-template-destroy/tasks/main.yml
Owners: @redhat-cop/agnosticd-core

removed debugging false conditions
  ansible/configs/archive/cloud-credentials/infra.yml
  ansible/configs/archive/multi-region-example/deploy_stack.yml
  ansible/configs/archive/multi-region-tower/deploy_stack.yml
  ansible/configs/archive/satellite-multi-region/deploy_stack.yml
Owners: none

removed debugging false conditions
  ansible/configs/controller-migration-casc/env_vars.yml
  ansible/roles/aap_controller_cert_issue/tasks/main.yml
  ansible/roles/automation_controller_issue_cert/tasks/main.yml
Owners: none

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh
