Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

Make bastion machine type for ocp4-cluster bastion variable and update to n2-standard-2 (#8935)
  ansible/configs/ocp4-cluster/default_vars_gcp.yml
  ansible/configs/ocp4-cluster/files/cloud_providers/gcp_cloud_template.j2
Owners: @redhat-cop/agnosticd-core

deploy: e84a3e53d840ab18df06f2a0fb9d427176bdb1c2
  index.html
Owners: none

ocp4-workload-debezium-demo -> Fix storageclass reference.
  ansible/roles/ocp4-workload-debezium-demo/templates/postgresql.yaml.j2
Owners: none

added default variable
  ansible/roles/ocp4-workload-debezium-demo/defaults/main.yaml
Owners: none

parameterized templated
  ansible/roles/ocp4-workload-debezium-demo/templates/postgresql.yaml.j2
Owners: none

ocp4-workload-debezium-demo -> Fix and parametize storageclass reference. (#8936)
  ansible/roles/ocp4-workload-debezium-demo/defaults/main.yaml
  ansible/roles/ocp4-workload-debezium-demo/templates/postgresql.yaml.j2
Owners: none

deploy: 7ff4a1e6a71f2764c399e5be58db39a99a87cca4
  index.html
Owners: none

feat: support adding group description for gitlab groups
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/templates/application-gitlab.yml.j2
Owners: none

fix: add default empty string in gitlab group name
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/templates/application-gitlab.yml.j2
Owners: none

add kueue and modelregistry configuration to DSC template
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/templates/redhat-datasciencecluster.yaml.j2
Owners: none

add kueue and modelregistry configuration to DSC template (#8938)
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/templates/redhat-datasciencecluster.yaml.j2
Owners: none

deploy: 3f61847385b8c2f35da38ba4497f56066a4a34ce
  index.html
Owners: none

add modelregistries namespace
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/templates/redhat-datasciencecluster.yaml.j2
Owners: none

add modelregistries namespace (#8939)
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_openshift_ai/templates/redhat-datasciencecluster.yaml.j2
Owners: none

deploy: f532f3c4db956be97fc0380c1ad6e7df4a7b7b21
  index.html
Owners: none

Fix trailing space issue
  ansible/configs/base-infra/post_software.yml
Owners: none

Improve clipboard behaviour in showroom
  ansible/roles/showroom/templates/service_double_tty/tab_double_tty.j2
  ansible/roles/showroom/templates/service_web1/tab_web1.j2
  ansible/roles/showroom/templates/service_web2/tab_web2.j2
Owners: none

Clean up showroom clipboard code
  ansible/roles/showroom/templates/service_double_tty/tab_double_tty.j2
  ansible/roles/showroom/templates/service_web1/tab_web1.j2
  ansible/roles/showroom/templates/service_web2/tab_web2.j2
Owners: none

Showroom role, allow user to specify where ansible is executed by showroom.service
  ansible/roles/showroom/templates/showroom.service.j2
Owners: none

Base infra aws user fixes 01 (#8940)
  ansible/configs/base-infra/default_vars_ec2.yml
  ansible/configs/base-infra/files/ssh_config.j2
  ansible/configs/base-infra/post_software.yml
  ansible/configs/base-infra/pre_software.yml
  ansible/roles/showroom/tasks/20-showroom-user-setup.yml
  ansible/roles/showroom/templates/service_double_tty/tab_double_tty.j2
  ansible/roles/showroom/templates/service_web1/tab_web1.j2
  ansible/roles/showroom/templates/service_web2/tab_web2.j2
  ansible/roles/user-create-ansible-service-account/templates/ssh_config.j2
Owners: none

deploy: 3df41ea0182ec13d244682bf32c73464238630aa
  index.html
Owners: none

Fix quotes in template
  ansible/roles/showroom/templates/showroom.service.j2
Owners: none

Showroom role, allow user to specify where ansible is executed by the service (#8941)
  ansible/roles/showroom/templates/showroom.service.j2
Owners: none

deploy: acdc1db7fb25484b1daa70af5d0e5f387c561339
  index.html
Owners: none

Update hostedcluster.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/templates/hostedcluster.yaml
Owners: none

Update main.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/tasks/main.yaml
Owners: none

Update main.yaml
  ansible/roles/host-ocp4-hcp-cnv-install/tasks/main.yaml
Owners: none

Fix incorrect AMI filter was '_' should be '-', breaks RHEL95 filter
  ansible/roles-infra/infra-images/defaults/main.yaml
Owners: @redhat-cop/agnosticd-core, @bbethell-1

Work-a-round for https://github.com/cloud-native-robotz-hackathon/infrastructure/issues/86
  ansible/roles_ocp_workloads/ocp4_workload_cloud_native_robot/tasks/workload-per-team.yml
Owners: none

Remove finalizer from backup object
  ansible/roles_ocp_workloads/ocp4_workload_cloud_native_robot/tasks/workload-per-team.yml
Owners: none

Remove empty lines
  ansible/roles_ocp_workloads/ocp4_workload_cloud_native_robot/tasks/workload-per-team.yml
Owners: none

Fix robot hackathon (#8943)
  ansible/roles_ocp_workloads/ocp4_workload_cloud_native_robot/tasks/workload-per-team.yml
Owners: none

deploy: 3e2b874d5bac92e4c2e9548096c40d76ade8bd06
  index.html
Owners: none

showroom-multi-user-ssh
  ansible/roles_ocp_workloads/ocp4_workload_showroom/tasks/deploy-showroom-helm.yaml
Owners: none

Update `roles_ocp_workloads` reference (#8837)
  tools/runner/README.md
Owners: none

deploy: e1ef8f863dab891c99800fa43670b018336dd4a5
  index.html
Owners: none

Updated OLS role with Azure token base authenticaiton
  ansible/roles_ocp_workloads/ocp4_workload_ols/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/create_azure_api_token.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/create_secret_token.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/install_azure_app_sp_olsconfig.j2
Owners: none

display name variable update in workload
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
Owners: none

fixed template called in workload for Azure bearer token
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
Owners: none

fixed template filename for app_sp
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/install_azure_app_sp_olsconfig.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/install_azure_olsconfig.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/install_openai_olsconfig.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/install_rhoai_vllm.olsconfig.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/install_watson_olsconfig.yml.j2
Owners: none

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh
