Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

Add new repo and upgrade gitops operator (#8604)
  ansible/roles_ocp_workloads/ocp4_workload_devops_roadshow/files/appprojects/cluster-config.yaml
  ansible/roles_ocp_workloads/ocp4_workload_devops_roadshow/files/gitops-operator/subscription.yaml
Owners: none

deploy: 83756555670cc5f23a6cbefe72f3986a1adaf339
  index.html
Owners: none

Added broken pod scenario
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/deploy_faulty_pod.yml.j2
Owners: none

Update create_instances.yaml (#8605)
  ansible/roles-infra/infra-equinix-metal-resources/tasks/create_instances.yaml
Owners: @redhat-cop/agnosticd-core

deploy: b2e8f37f68407cdf0a1544aa61a9ca70c66cd5ae
  index.html
Owners: none

Reduced wait tiem for creation of broken pod
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
Owners: none

Removed wait time
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
Owners: none

zero-touch-base-rhel satellite configuration
  ansible/configs/zero-touch-base-rhel/pre_software.yml
Owners: none

zero-touch-base-rhel satellite configuration (#8606)
  ansible/configs/zero-touch-base-rhel/pre_software.yml
Owners: none

deploy: 74490b0416683506b12549b131d79796ca574dec
  index.html
Owners: none

Configure ocp4_workload_virt_roadshow_vmware to use pool VMs
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/remove_workload.yml
Owners: none

Configure ocp4_workload_virt_roadshow_vmware to use pool VMs
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_grant_permissions_pool.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_remove_pool_user.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_remove_pool_users.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_pool_user.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_pool_users.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/workload.yml
Owners: none

Adding ocpv04 environment config
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_remove_pool_user.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/vcenter_setup_pool_user.yml
Owners: none

Configure ocp4_workload_virt_roadshow_vmware to use pool VMs
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/defaults/main.yml
Owners: none

updated storage class to gp3
  ansible/roles_ocp_workloads/ocp4_workload_portworx/defaults/main.yml
Owners: none

updated storage class to gp3 (#8607)
  ansible/roles_ocp_workloads/ocp4_workload_portworx/defaults/main.yml
Owners: none

deploy: db9f139379e290447614586e7df36dd8674ac1a9
  index.html
Owners: none

Configure ocp4_workload_virt_roadshow_vmware to use pool VMs
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/remove_workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/tasks/workload.yml
Owners: none

Add api_version to kubevirt.io/v1
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/status_instances.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

Add api_version to kubevirt.io/v1
  ansible/roles-infra/infra-vmc-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/status_instances.yaml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

Ols update - added broken pod scenario to the role (#8609)
  ansible/roles_ocp_workloads/ocp4_workload_ols/tasks/workload.yml
  ansible/roles_ocp_workloads/ocp4_workload_ols/templates/deploy_faulty_pod.yml.j2
Owners: none

deploy: 74d05608d432ee95dae94d50c228b25df27d03b4
  index.html
Owners: none

Gitlab: Remove cookie scraping and use API
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/tasks/setup_gitlab_runner.yml
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/script-get-registration-token.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/secret-gitlab-runner-secret.yml.j2
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/defaults/main.yml
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/templates/application-gitlab.yml.j2
Owners: none

Add api_version to kubevirt.io/v1
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/templates/application-gitlab.yml.j2
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/defaults/main.yml
Owners: none

Update create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/application-devspaces.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/application-devspaces.yml.j2
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/defaults/main.yml
Owners: none

Add api_version to kubevirt.io/v1 (#8608)
  ansible/roles-infra/infra-openshift-cnv-create-inventory/tasks/create_inventory.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-openshift-cnv-resources/tasks/stop_instances.yaml
  ansible/roles-infra/infra-vmc-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra_vmware_ibm_resources/tasks/status_instances.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_masters_etcd.yaml
  ansible/roles/host-ocp4-assisted-installer/tasks/kubevirt/create_workers.yaml
Owners: @redhat-cop/agnosticd-core, @agonzalezrh

deploy: 4aa713fda6758eebd3849fff95bc8457a02456d2
  index.html
Owners: none

update
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/tasks/setup_gitlab_runner.yml
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/script-get-registration-token.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/secret-gitlab-runner-secret.yml.j2
Owners: none

RHDH: Switch to new registration token (#8610)
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_gitops_gitlab/templates/application-gitlab.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/tasks/setup_gitlab_runner.yml
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/application-devspaces.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/script-get-registration-token.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_redhat_developer_hub/templates/secret-gitlab-runner-secret.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/tasks/setup_gitlab_runner.yml
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/application-devspaces.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/script-get-registration-token.yml.j2
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/templates/secret-gitlab-runner-secret.yml.j2
Owners: none

deploy: 5d28aa5c02259e2cc381d31fd1f11e9ce98c55c7
  index.html
Owners: none

Fix revision variable
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/defaults/main.yml
Owners: none

Fix revision variable (#8611)
  ansible/roles_ocp_workloads/ocp4_workload_trusted_application_pipeline/defaults/main.yml
Owners: none

deploy: d62e58e61fad43270e980a14aae38332939ba508
  index.html
Owners: none

Configure ocp4_workload_virt_roadshow_vmware to use pool VMs
  ansible/roles_ocp_workloads/ocp4_workload_virt_roadshow_vmware/defaults/main.yml
Owners: none

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh
