Repository redhat-cop/agnosticd, changes with the owners that CODEOWNERS names for each.
All owners: @redhat-cop/agnosticd-core, @fridim, @rut31337, @bbethell-1, @agonzalezrh

CODEOWNERS:

# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# agnosticd-core

CODEOWNERS @redhat-cop/agnosticd-core
LICENSE @redhat-cop/agnosticd-core
ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
ansible/filter_plugins/ @redhat-cop/agnosticd-core
ansible/lookup_plugins/ @redhat-cop/agnosticd-core
ansible/action_plugins/ @redhat-cop/agnosticd-core
ansible/library/ @redhat-cop/agnosticd-core
tools/execution_environments/ee-multicloud-public/ @redhat-cop/agnosticd-core

# Core Configs
ansible/configs/ocp4-cluster/ @redhat-cop/agnosticd-core
ansible/configs/rosa-consolidated/ @redhat-cop/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-cop/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-cop/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim

# Azure

ansible/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/cloud_providers/*azure* @redhat-cop/agnosticd-core @rut31337
ansible/roles-infra/*azure* @redhat-cop/agnosticd-core @rut31337

# AWS Images

ansible/roles-infra/infra-images/defaults/main.yaml @redhat-cop/agnosticd-core @bbethell-1

# VMC (VMWare Cloud)
ansible/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/cloud_providers/*vmc* @redhat-cop/agnosticd-core @agonzalezrh
ansible/roles-infra/*-vmc-*  @redhat-cop/agnosticd-core @agonzalezrh

warnings, and DEFAULT FALSE
  ansible/configs/rosa-consolidated/default_vars.yml
Owners: @redhat-cop/agnosticd-core

Update post_software.yml
  ansible/configs/osp-on-ocp/post_software.yml
Owners: none

Adding post_software_ibm_resource_group.yml to sandbox config
  ansible/configs/sandbox/post_software.yml
  ansible/configs/sandbox/post_software_ibm_resource_group.yml
Owners: none

Update post_software.yml
  ansible/configs/osp-on-ocp/post_software.yml
Owners: none

adding IBM_RG_SANDBOX
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/main.yaml
Owners: @redhat-cop/agnosticd-core

adding IBM_RG_SANDBOX
  ansible/configs/sandbox/post_software_ibm_resource_group.yml
Owners: none

adding IBM_RG_SANDBOX
  ansible/configs/sandbox/post_software_ibm_resource_group.yml
Owners: none

adding IBM_RG_SANDBOX
  ansible/configs/sandbox/post_software_ibm_resource_group.yml
Owners: none

Update post_software.yml
  ansible/configs/osp-on-ocp/post_software.yml
Owners: none

Add support for RHEL95
  ansible/roles-infra/infra-images/defaults/main.yaml
Owners: @redhat-cop/agnosticd-core, @bbethell-1

zero-touch-base-rhel add tasks to setup instructlab
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
  ansible/configs/zero-touch-base-rhel/post_software.yml
Owners: none

Add new line at EoF
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
Owners: none

Add default to bool to avoid breaks
  ansible/configs/zero-touch-base-rhel/post_software.yml
Owners: none

zero-touch-base-rhel add tasks file to setup instructlab (#9032)
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
  ansible/configs/zero-touch-base-rhel/post_software.yml
Owners: none

deploy: 2289678d2b24368cd8672a97f2f7b1d7997485d3
  index.html
Owners: none

Revert "Add support for RHEL95"
  ansible/roles-infra/infra-images/defaults/main.yaml
Owners: @redhat-cop/agnosticd-core, @bbethell-1

Introduce reboot and nvdia module build for robustness
  ansible/collections/ansible_collections/agnosticd/ai/roles/setup_nvidia_cuda/tasks/main.yml
Owners: none

zero-touch-base-rhel, fix instructlab setup script bug
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
Owners: none

Make HF Token available via .bashrc
  ansible/collections/ansible_collections/agnosticd/ai/roles/setup_instructlab/tasks/10-nvidia-customizations.yml
Owners: none

zero-touch-base-rhel, fix instructlab setup script bug (#9033)
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
Owners: none

deploy: 6bc1914aea8029684ac2ccc1e7502803b705b344
  index.html
Owners: none

fix: use correct variable in argocd secret check
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/openshift_gitops.yml
Owners: none

fix: use correct variable in argocd secret check (#9034)
  ansible/roles_ocp_workloads/ocp4_workload_platform_engineering_workshop/tasks/openshift_gitops.yml
Owners: none

deploy: 35b13b916fad2670ba308c38c8199823e4698cd4
  index.html
Owners: none

zero-touch-base-rhel, add token for instructlab hugging face login
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
Owners: none

line length
  ansible/configs/zero-touch-base-rhel/instructlab_setup.yml
Owners: none

Update cloud provider IBMRG
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_security_groups.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_networks.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/delete_security_groups.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/main.yaml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/start_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/status_instances.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/stop_instances.yaml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/configs/just-bastion/default_vars_ibm_resource_group.yml
Owners: none

Update cloud provider IBMRG
  ansible/cloud_providers/openshift_cnv_infrastructure_deployment.yml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-ibm-resource-group-resources/defaults/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-dns/defaults/main.yml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/cloud_providers/ibm_resource_group_infrastructure_deployment.yml
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/cloud_providers/ibm_resource_group_infrastructure_deployment.yml
  ansible/configs/just-bastion/default_vars_ibm_resource_group.yml
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-dns/tasks/nested_loop.yml
Owners: @redhat-cop/agnosticd-core

if desired, combine user_data with deployer_values
  ansible/roles_ocp_workloads/ocp4_workload_gitops_bootstrap/defaults/main.yml
  ansible/roles_ocp_workloads/ocp4_workload_gitops_bootstrap/tasks/prepare_multi_user_variables.yaml
  ansible/roles_ocp_workloads/ocp4_workload_gitops_bootstrap/tasks/workload.yml
Owners: none

Update cloud provider IBMRG
  ansible/roles-infra/infra-ibm-resource-group-resources/defaults/main.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_instance.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_security_group.yaml
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_security_groups.yaml
Owners: @redhat-cop/agnosticd-core

Update cloud provider IBMRG
  ansible/roles-infra/infra-ibm-resource-group-resources/tasks/create_security_group.yaml
Owners: @redhat-cop/agnosticd-core
